<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>产品配置器</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="{$SEO['description']}">
    <meta name="keywords" content="{$SEO['keyword']}">
    <script type="text/javascript" src="/statics/layout/eao/script/modernizr.js"></script>
    <script type="text/javascript" src="/statics/layout/eao/script/selectivizr.js"></script>
    <link rel="stylesheet" type="text/css" href="/statics/layout/eao/combine.css" />
</head>

<body>
<div id="page">
    <div class="row">
        <ul class="column grid_3  service_links">
            <li><a href="index.php-IdTreeGroup=3.html">首页</a></li> |
            <li><a href="http://products.eao.com/index.php?IdTreeGroup=55&amp;lang=de">中文</a>/<a href="http://products.eao.com/index.php?IdTreeGroup=55&amp;lang=en">English</a></li>
        </ul>
        <div class="column right grid_5 logo">
            <a href="http://eao.com" target="_blank"><img src="layout/eao/img/Logo_EAO_Claim.png" alt="logo"></a>
        </div>
    </div>

    <div class="row">
        <div class="column grid_3"></div>
        <div class="column grid_5 float_right">
            <ul class="nav row">
                <li class="column">
                    <a href="index.php-IdTreeGroup=55&amp;cfn=1.html"  id="activer_link">市场</a>
                    <ul class="nav2">
                        <div class="col">
                            <li>
                                <a href="index.php-IdTreeGroup=58&amp;cfn=1.html" >运输</a>
                            </li>
                            <li>
                                <a href="index.php-IdTreeGroup=59&amp;cfn=1.html" >机械</a>
                            </li>
                            <li>
                                <a href="index.php-IdTreeGroup=2883&amp;cfn=1.html" >重工</a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li class="column">
                    <a href="index.php-IdTreeGroup=56&amp;cfn=1.html" >功能</a>
                    <ul class="nav2 small">
                        <div class="col">

                            <li>
                                <a href="index.php-IdTreeGroup=124&amp;cfn=1.html" >Leuchtmelder</a>
                            </li>
                            <li>
                                <a href="index.php-IdTreeGroup=2898&amp;cfn=1.html" >Palm Switch/Grobhandtaste</a>
                            </li>
                        </div>
                    </ul>
                </li>
                <li class="column">
                    <a href="index.php-IdTreeGroup=279&amp;cfn=1.html" >系列</a>
                    <ul class="nav2 small">
                        <div class="col">

                            <li>
                                <a href="http://products.eao.com/index.php?IdTreeGroup=1076&amp;cfn=1" >01</a>
                            </li>
                            <li>
                                <a href="index.php-IdTreeGroup=1087&amp;cfn=1.html" >02</a>
                            </li>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <hr>