<div class="container">
    <hr>
    <div class="row teaseBox small-gutter">
        {pc:link action="type_list" typeid="79" siteid="$siteid" linktype="1" order="listorder ASC" num="10" return="pic_link"}
        {loop $pic_link $v}
        <div class="col-xs-6 col-sm-3">
            <div class="teaser" style="background: #fff url('{$v[logo]}') no-repeat center top;">
                <a href="{$v['url']}">
                    <div class="teaseText">
                        <h3>{$v['name']}</h3>
                        <p class="pad-bottom"></p>
                    </div>
                </a>
            </div>
        </div>
        {/loop}
        {/pc}
    </div>
    <hr/>
</div>

<footer>
    <div class="container">
        <div class="row">
            {pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
            {loop $data $r}
            <div class="col-sm-2 hidden-xs">
                <strong>{$r[catname]}</strong>
                <ul class="list-unstyled">
                    {pc:content action="category" catid="$r[catid]" num="25" siteid="$siteid" order="listorder ASC" return="data2"}
                    {loop $data2 $r2}
                    <li class="sub ">
                        <a href="{$r2[url]}" class="sub ">
                            <i class="icon-chevron-right"></i> {$r2[catname]}
                        </a>
                    </li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
            {/loop}
            {/pc}
        </div>
        <hr class="hidden-xs">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav navbar-nav navbar-right footerNavigation hidden-xs">
                    {pc:link  action="type_list" typeid="76" siteid="$siteid" order="listorder ASC" num="10" return="pic_link"}
                    {loop $pic_link $v}
                    <li><a href="{$v['url']}" title="{$v['name']}">{$v['name']}</a></li>
                    {/loop}
                    {/pc}
                </ul>
                <ul class="navbar navbar-nav list-unstyled" style="font-size: 2em;">
                    {pc:link  action="type_list" typeid="75" siteid="$siteid" linktype="1" order="listorder ASC" num="8" return="pic_link"}
                    {loop $pic_link $v}
                    <li style="margin-right: .75em;">
                        <a href="{$v['url']}" target="_blank">
                            <img src="{$v[logo]}" width="32" height="32" alt="" />
                        </a>
                    </li>
                    {/loop}
                    {/pc}
                </ul>
            </div>
        </div>
        <hr/>
        <p>{$settings['copyright']}</p>
    </div>
</footer>
<script src="/statics/typo3temp/compressor/merged-e7556a4553d9956f4c487cde98d935a3-e394eca65dc03146bd515ae886c32a9f-1540889520.js" type="text/javascript"></script>
<script src="/statics/typo3temp/compressor/merged-de1e6cd9fa425d75636a55b7bdf6d06b-0b71fb46a62d1d6ae94b294e0faff909-1540889520.js" type="text/javascript"></script>
<script type="text/javascript" src="/statics/typo3temp/vhs-assets-MapsCountrySelect-1552439706.js"></script>
<script type="text/javascript" src="/statics/typo3temp/vhs-assets-a-cc-e-o-1552439706.js"></script>
</body>
</html>