{template "content","top"}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--1648-->
                <div id="df43c04a" class="slickCarousel">
                    {pc:link action="type_list" typeid="77" siteid="$siteid" linktype="1" order="listorder DESC" num="10" return="pic_link"}
                    {loop $pic_link $v}
                    <div class="sliderBox">
                        <div class="background-image-holder">
                            {if $v[url]}
                            <a href="{$v['url']}"><img src="{$v['logo']}" width="1260" height="463" alt="" /></a>
                            {else}
                            <img src="{$v['logo']}" width="1260" height="463" alt="" />
                            {/if}
                        </div>
                    </div>
                    {/loop}
                    {/pc}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <hr />
            </div>
        </div>
    </div>
    <!--TYPO3SEARCH_begin-->
    <div class="container">
        <div class="row contentContainer" role="main">
            <div class="col-xs-12">
                <!--1811-->
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="well well-lg">
                            {$settings['info']}
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="well well-lg">
                            <!--1812-->
                            <div class="csc-header csc-header-n1">
                                <h3 class="csc-firstHeader">Quicklinks</h3></div>
                            <div class="subNavigation " style="">
                                <ul class="nav nav-list">
                                    {pc:link  action="type_list" typeid="78" siteid="$siteid" order="listorder DESC" num="10" return="pic_link"}
                                    {loop $pic_link $v}
                                    <li class="item">
                                        <a href="{$v['url']}">{$v['name']}</a>
                                    </li>
                                    {/loop}
                                    {/pc}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--TYPO3SEARCH_end-->
{template "content","footer"}