{template "content","top"}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--1648-->
                <div id="df43c04a" class=" slickCarousel">
                    <div class="sliderBox">
                        <div class="background-image-holder">
                            <img src="/statics/fileadmin/_processed_/8/4/csm_eao_series-84_e-stop_and_stop_switches_1280x470_EN_9f432e4ca4.jpg" width="1260" height="463" alt="" />
                        </div>
                    </div>
                    <div class="sliderBox">
                        <div class="background-image-holder">
                            <img src="/statics/fileadmin/_processed_/a/8/csm_0-1-1_EAO_Application_Machinery_1280x470_EN_d1cd21580a.jpg" width="1260" height="463" alt="" />
                        </div>
                    </div>
                    <div class="sliderBox">
                        <div class="background-image-holder">
                            <img src="/statics/fileadmin/_processed_/d/8/csm_2-0-1_EAO_Banner_Produkte_1280x470_EN_e0347b837b.png" width="1260" height="463" alt="" />
                        </div>
                    </div>
                    <div class="sliderBox">
                        <div class="background-image-holder">
                            <img src="/statics/fileadmin/_processed_/8/1/csm_2-0-2_EAO_Banner_Produkte_1280x470_EN_531b96c83f.png" width="1260" height="463" alt="" />
                        </div>
                    </div>
                    <div class="sliderBox">
                        <div class="background-image-holder">
                            <img src="/statics/fileadmin/_processed_/7/7/csm_2-2-4_EAO_Banner_ProsDesign_1280x470_EN-01_be2ff8c969.png" width="1260" height="463" alt="" />
                        </div>
                    </div>
                    <div class="sliderBox">
                        <div class="background-image-holder">
                            <img src="/statics/fileadmin/_processed_/1/e/csm_2-3_EAO_Banner_HMIA_1280x470_EN-01_6ca7a8a784.png" width="1260" height="463" alt="" />
                        </div>
                    </div>
                    <div class="sliderBox">
                        <div class="background-image-holder">
                            <img src="/statics/fileadmin/_processed_/a/2/csm_3-3_EAO_Banner_VAS_1280x470_EN-01_e4635adc4c.png" width="1260" height="463" alt="" />
                        </div>
                    </div>
                    <div class="sliderBox">
                        <div class="background-image-holder">
                            <img src="/statics/fileadmin/_processed_/0/4/csm_5-1_EAO_Banner_About_1280x470_EN_b0125b40ea.png" width="1260" height="463" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <hr>
            </div>
        </div>
    </div>
    <!--TYPO3SEARCH_begin-->
    <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="countryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4>
                            EAO – Your Expert Partner for Human Machine Interfaces
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="pull-left countryModalLabel">
                                    <p style="font-size: 18px;">
                                        Choose your country
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <form action="javascript:void();" class="form-inline pull-right" role="form">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="form-group">
                                                <select id="landesauswahl" class="form-control">
                                                    <option name="international" data-country=""><a href="countries/verkaufsgesellschaften/international/index.html">International</a></option>
                                                    <option class="" disabled>–––</option>
                                                    <option name="austria" data-country="AT"><a href="austria/en/index.html">Austria</a></option>
                                                    <option name="belgium" data-country="BE"><a href="belgium/en/index.html">Belgium</a></option>
                                                    <option name="china" data-country="CN"><a href="china/en/index.html">China</a></option>
                                                    <option name="denmark" data-country="NO"><a href="denmark/en/index.html">Denmark</a></option>
                                                    <option name="germany" data-country="DE"><a href="germany/en/index.html">Germany</a></option>
                                                    <option name="sweden" data-country="FI"><a href="finland/en/index.html">Finland</a></option>
                                                    <option name="france" data-country="FR"><a href="france/en/index.html">France</a></option>
                                                    <option name="hongkong" data-country="CN HK"><a href="hongkong/en/index.html">Hong Kong (Asia Pacific)</a></option>
                                                    <option name="ir" data-country="IR"><a href="ireland/en/index.html">Ireland</a></option>
                                                    <option name="italy" data-country="IT"><a href="italy/en/index.html">Italy</a></option>
                                                    <option name="japan" data-country="JP"><a href="japan/en/index.html">Japan</a></option>
                                                    <option name="luxembourg" data-country="LU"><a href="luxembourg/en/index.html">Luxembourg</a></option>
                                                    <option name="netherlands" data-country="NL"><a href="netherlands/en/index.html">Netherlands</a></option>
                                                    <option name="sweden" data-country="NO"><a href="norway/en/index.html">Norway</a></option>
                                                    <option name="north-america" data-country="US"><a href="north-america/en/index.html">North America</a></option>
                                                    <option name="poland" data-country="PL"><a href="poland/en/index.html">Poland</a></option>
                                                    <option name="sweden" data-country="SE"><a href="sweden/en/index.html">Sweden</a></option>
                                                    <option name="switzerland" data-country="CH"><a href="switzerland/en/index.html">Switzerland</a></option>
                                                    <option name="uk" data-country="GB"><a href="uk/en/index.html">United Kingdom</a></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <select class="form-control" id="language_switch">
                                                    <option value="CN">Chinese</option>
                                                    <option value="CN_TR">Traditional Chinese</option>
                                                    <option value="DE">Deutsch</option>
                                                    <option value="NL">Dutch</option>
                                                    <option value="EN">English (UK)</option>
                                                    <option value="EN_US">English (US)</option>
                                                    <option value="FR">French</option>
                                                    <option value="IT">Italian</option>
                                                    <option value="JP">Japanese</option>
                                                    <option value="ES">Spanish</option>
                                                    <option value="SE">Swedish</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-success" id="submit-country"><i class="fa fa-check"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <img class="map-location" title="Locationmap" alt="Choose your location" width="569" height="318" src="/statics/typo3conf/ext/speciality/Resources/Public/Images/map-location.jpg" />
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <div class="row contentContainer" role="main">
            <div class="col-xs-12">
                <!--1811-->
                <div class="row">
                    <div class="col-md-8 ">
                        <div class="well well-lg">
                            <!--1649-->
                            <div class="csc-header csc-header-n1">
                                <h1 class="csc-firstHeader">Human Machine Interfaces. Since 1947.</h1></div>
                            <p>
                            <p class="lead">EAO AG, a Swiss, family-owned company founded in 1947, has developed into one of the world’s leading manufacturers of high-quality industrial switches, complete custom HMI panels and interface systems, and specialised automotive switch systems.</h2>
                            </p>
                            <p>With over 600 dedicated employees, EAO has a global production and distribution network at its disposal. EAO has production sites in Switzerland, Germany, North America and China, as well as 10 wholly owned international sales companies and distributors in over 50 countries, so we can guarantee global availability – around the world, around the clock.
                                <br />
                                <br />
                            </p>
                            <h3>Your solution-focused expert and partner</h3>
                            <p>We do much more than just manufacture individual control elements. As a solution-focused partner, we provide the option of technically and mechanically customising existing HMI Components in line with our customers’ individual requirements. From simple control elements through to sophisticated HMI Systems, from serial production through to installation – we offer the entire range of HMI services and inspire the confidence of our customers.</p>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="well well-lg">
                            <!--1812-->
                            <div class="csc-header csc-header-n1">
                                <h3 class="csc-firstHeader">Quicklinks</h3></div>
                            <div class="subNavigation " style="">
                                <ul class="nav nav-list">
                                    <li class="item">
                                        <a href="products-and-solutions/hmi-components/functions/index.html">
                                            HMI Components
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="products-and-solutions/hmi-components/hmi-product-series/index.html">
                                            HMI Series
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="produkte-loesungen/hmi-systeme/index.html">
                                            HMI Systems
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="produkte-loesungen/hmi-automotive/index.html">
                                            HMI Automotive
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="downloads/index.html">
                                            Downloads
                                        </a>
                                    </li>
                                    <li class="item">
                                        <a href="http://products.eao.com?lang=en" target="_blank">Online Product Configurator</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--TYPO3SEARCH_end-->
{template "content","footer"}