{template "product","header"}
<div class="row">
    <div class="column grid_2 column_margin">
        <div class="box">
            <span class="boxheader"><h3>华南电子网产品配置器</h3></span>
            <div class="boxcontent">
                <div id="basketContentDynamic">
                    <p>通过本页面XXXXXXX</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="content grid_6">
            <div class="">
                <div class="column grid_2 banner_box">
                    <a href="index.php?IdTreeGroup=55" class="banner">
                        <img src="./media/Kapitelbilder/markets.jpg" alt="Markets" class="banner_logo">
                        <h1>Markets</h1>
                        <h2>Our range of services and our expertise allow us to offer complete individual and systems-based solutions in key markets.</h2>
                        <img src="layout/eao/img/arrow.png" class="arrow_root">
                    </a>
                </div>


                <div class="column grid_2 banner_box">
                    <a href="index.php?IdTreeGroup=56" class="banner">
                        <img src="./media/Kapitelbilder/Functions.jpg" alt="Functions" class="banner_logo">
                        <h1>Functions</h1>
                        <h2>Classic HMI Components offered by EAO include pushbuttons, illuminated pushbuttons, emergency-stop switches, keylock switches, buzzers, joysticks and lever switches. Numerous additional HMI Components round off our comprehensive range.</h2>
                        <img src="layout/eao/img/arrow.png" class="arrow_root">
                    </a>
                </div>


                <div class="column grid_2 banner_box" id="last_banner_box">
                    <a href="index.php?IdTreeGroup=279" class="banner">
                        <img src="./media/Kapitelbilder/series.jpg" alt="Series" class="banner_logo">
                        <h1>Series</h1>
                        <h2>A variety of mounting depths, design and combination options make our products hugely versatile.</h2>
                        <img src="layout/eao/img/arrow.png" class="arrow_root">
                    </a>
                </div>

            </div>&nbsp;<div class="">

        </div>


        </div>
    </div>
{template "product","footer"}