<div class="well well-lg hasLink same-height-right" style="height: 271px;">
    <div class="csc-header csc-header-n1">
        <h3 class="csc-firstHeader"><a href="/china/cn/produkte-loesungen/">产品和解决方案</a></h3>
    </div>
    <div class="csc-textpic csc-textpic-center csc-textpic-above">
        <div class="csc-textpic-imagewrap" data-csc-images="1" data-csc-cols="2">
            <div class="csc-textpic-center-outer">
                <div class="csc-textpic-center-inner">
                    <figure class="csc-textpic-image csc-textpic-last">
                        <a href="/index.php?m=product&c=index&a=init" title="产品和解决方案">
                            <img src="/statics/layout/eao/img/1-1-3_Teaser-Prod-Transportation.png" width="370" height="180" class="img-responsive" alt="产品和解决方案">
                        </a>
                    </figure>
                </div>
            </div>
        </div>
        <div class="csc-textpic-text"><p>有关我们的产品和解决方案的更多信息</p></div>
    </div>
</div>
