<div class="well well-lg hasLink same-height-right" style="height: 224px;">
    <div class="csc-header csc-header-n1">
        <h4 class="csc-firstHeader">
            <a href="/index.php?m=product&c=index&a=init" target="_blank">在线产品配置器</a>
        </h4>
    </div>
    <div class="csc-textpic csc-textpic-center csc-textpic-above">
        <div class="csc-textpic-imagewrap" data-csc-images="1" data-csc-cols="2">
            <div class="csc-textpic-center-outer">
                <div class="csc-textpic-center-inner">
                    <figure class="csc-textpic-image csc-textpic-last">
                        <img src="/statics/fileadmin/user_upload/Info-Teaser-Bar_310x130/EAO_WEB-product-finder.png" width="325" height="120" class="img-responsive" alt="在线产品配置器" title="在线产品配置器">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>