<!DOCTYPE html>
<html lang="en">
<head>
	<meta http- equiv="X-UA-Compatible" content= "IE=edge" >
	<meta name="viewport" content= "width=device-width, initial-scale=1" >
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/statics/typo3temp/compressor/merged-c7c5e0e2b8dd6ff750ce0cf9732b48bb-4897f5d7a6982d3625c7016822e98963-1540889520.css" media="all">
	<script src="/statics/typo3temp/compressor/merged-1be3ca51061e0d9cefd716f8d96814ed-5de57864eb5de0294e9e51ce659e032d-1552416171.js" type="text/javascript"></script>
	<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
	<meta name="title" content="{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}">
	<meta name="description" content="{$SEO['description']}">
	<meta name="keywords" content="{$SEO['keyword']}">
	<link rel="stylesheet" href="/statics/typo3temp/vhs-assets-coco-fa-slick-styles-1552439706.css" />
	<link rel="stylesheet" href="https://fast.fonts.net/cssapi/bd1c6a4d-0f09-476c-89b9-ccdb91168c19.css" />
	<script type="text/javascript" src="/statics/typo3temp/vhs-assets-jquery-1552439706.js"></script>
</head>

<body class="page-1">
	<div class="navbar-header navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-right">
				<button type="button" class="navbar-toggle pull-left" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand pull-right" href="index.html" tabindex="1">
					<img src="/statics/typo3conf/ext/speciality/Resources/Public/Images/EAO-logo-claim.svg" alt="EAO AG" width="244" height="46" border="0" />
				</a>
			</div>
			<div class="navbar-collapse collapse navbar-left" id="bs-example-navbar-collapse-1">
				<nav role="navigation">
					<ul class="nav navbar-nav navbar-left">
						<li><a href="home/index.html">Home</a></li>
						<li class="dropdown"><a href="maerkte/index.html" class="dropdown-toggle">Markets</a>
							<ul class="nav dropdown-menu">
								<li class="dropdown"><a href="maerkte/transportation/index.html" class="dropdown-toggle">Transportation</a></li>
								<li class="dropdown"><a href="maerkte/automotive/index.html" class="dropdown-toggle">Automotive</a></li>
								<li class="dropdown"><a href="maerkte/machinery/index.html" class="dropdown-toggle">Machinery</a></li>
								<li class="dropdown"><a href="maerkte/heavy-duty-special-vehicles/index.html" class="dropdown-toggle">Heavy Duty & Special Vehicles</a></li>
								<li><a href="maerkte/weitere-maerkte/index.html">More markets</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="produkte-loesungen/index.html" class="dropdown-toggle">Products  and solutions</a>
							<ul class="nav dropdown-menu">
								<li class="dropdown"><a href="produkte-loesungen/hmi-komponenten/index.html" class="dropdown-toggle">HMI Components</a></li>
								<li class="dropdown"><a href="produkte-loesungen/hmi-systeme/index.html" class="dropdown-toggle">HMI Systems</a></li>
								<li class="dropdown"><a href="produkte-loesungen/hmi-automotive/index.html" class="dropdown-toggle">EAO Automotive</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="kompetenzen/index.html" class="dropdown-toggle">Production expertise</a>
							<ul class="nav dropdown-menu">
								<li><a href="kompetenzen/research-development/index.html">Research and development</a></li>
								<li><a href="kompetenzen/swiss-touch/index.html">Quality</a></li>
								<li><a href="kompetenzen/value-added-services/index.html">Value Added Services</a></li>
								<li><a href="kompetenzen/zertifikate-zulassungen/index.html">Certificates and approvals</a></li>
								<li><a href="production-expertise/production-and-supply-chain/index.html">Production and supply chain</a></li>
								<li><a href="kompetenzen/preise-und-auszeichnungen/index.html">Awards and recognition</a></li>
								<li><a href="kompetenzen/referenzen/index.html">References</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="news-downloads/index.html" class="dropdown-toggle">News and downloads</a>
							<ul class="nav dropdown-menu">
								<li><a href="news-downloads/aktuelle-news/index.html">News and press releases</a></li>
								<li><a href="news-downloads/messen-und-ausstellungen/index.html">Trade fairs and exhibitons</a></li>
								<li><a href="downloads/index.html">Downloads</a></li>
								<li><a href="news-downloads/pressekontakt/index.html">Press enquiries</a></li>
								<li><a href="news-downloads/bildmaterial/index.html">Images</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="ueber-eao/index.html" class="dropdown-toggle">About EAO</a>
							<ul class="nav dropdown-menu">
								<li><a href="ueber-eao/das-unternehmen/index.html">The company</a></li>
								<li><a href="about-eao/manufacturing-companies/index.html">Manufacturing companies</a></li>
								<li><a href="ueber-eao/the-human-touch/index.html">The Human Touch ®</a></li>
								<li><a href="ueber-eao/swiss-touch/index.html">Swiss Touch ®</a></li>
								<li><a href="ueber-eao/green-touch/index.html">Green Touch</a></li>
								<li><a href="ueber-eao/eao-weltweit/index.html">EAO Group</a></li>
								<li><a href="ueber-eao/jobs-karriere/index.html">Jobs</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="kontakt/index.html" class="dropdown-toggle">Contact us</a>
							<ul class="nav dropdown-menu">
								<li><a href="ueber-eao/eao-weltweit/index.html">EAO worldwide</a></li>
								<li><a href="contact-us/contact-form/index.html">Contact form</a></li>
								<li><a href="news-downloads/pressekontakt/index.html">Press inquiries</a></li>
								<li><a href="ueber-eao/jobs-karriere/index.html">Jobs & Career</a></li>
								<li><a href="kontakt/e-newsletter/index.html">E-newletter</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="container searchContainer">
			<div class="row">
				<div class="col-xs-12">
					<hr/>
				</div>
			</div>
		</div>
	</div>