<div id="footer_main_float" class="box_web_main group" style="margin-top: 20px;">
    <div class="modulebox box_simpleText textFloat" id="com_170">
        <div class="view" id="simpleText_com_170" style="width: 302px; height: 112px; min-height: 0px;" data-bwidth="302" data-bheight="112">
            <div class="">
                <div>
                    <p><span style="color: rgb(242, 242, 242); font-family: 微软雅黑; font-size: 12px;">{$configs['company_name']}</span></p>
                    <p><span style="color: rgb(242, 242, 242); font-family: 微软雅黑; font-size: 12px;">厂址：{$configs['address']}</span></p>
                    <p><span style="color: rgb(242, 242, 242); font-family: 微软雅黑; font-size: 12px;">电 &nbsp; &nbsp;话：{$configs['phone']}</span></p>
                </div>
            </div>
        </div>
        <style id="com_170_style">#com_170.modulebox{width: 302px; height: 112px; position: absolute; left: 481px; top: 86px; z-index: 11;}#simpleText_com_170{width: 302px; height: 112px; min-height: 0px;}</style>
    </div>
    <div class="modulebox box_picture textFloat" id="com_169">
        <div class="view" id="picture_com_169" style="width: 343px; height: 48px;display: none;" data-bwidth="343" data-bheight="48">
            <div class="box_wow" style="width:343px;height:48px;">
                <img data-src="//koss.iyong.com/swift/v1/iyong_public/iyong_2631626088743488/image/20180428/1524902826623058455.png" class="lazy" style="border-style:; border-width:; border-color:" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVQYV2P4zwAAAgEBAOIxSPwAAAAASUVORK5CYII=">
            </div>
        </div>
        <script>
            require(["jquery"],function($){

                webUtil.picFunc2("com_169","picture","0","","","343","48","");
            });
        </script>
        <style id="com_169_style">#com_169{width: 343px; height: 48px; position: absolute; left: 864px; top: 28px; z-index: 10;}#picture_com_169{width: 343px; height: 48px;}</style>
    </div>
    <div class="modulebox box_picture textFloat" id="com_175">
        <div class="view" id="picture_com_175" style="width: 10px; height: 180px;display: none;" data-bwidth="10" data-bheight="180">
            <div class="box_wow" style="width:10px;height:180px;">
                <img data-src="{$configs['foot_logo']}" class="lazy" style="border-style:; border-width:; border-color:">
            </div>
        </div>
        <script>
            require(["jquery"],function($){

                webUtil.picFunc2("com_175","picture","0","","","10","180","10");
            });
        </script>
        <style id="com_175_style">#com_175{width: 10px; height: 180px; position: absolute; left: 821px; top: 22px; z-index: 10;}#picture_com_175{width: 10px; height: 180px;}</style>
    </div>
    <div class="modulebox box_picture textFloat" id="com_171" style="display: none;">
        <div class="view" id="picture_com_171" style="width: 96px; height: 96px;" data-bwidth="96" data-bheight="96">
            <div class="box_wow" style="width:96px;height:96px;">
                <img data-src="{$configs['qr_sina']}" class="lazy" style="border-style:; border-width:; border-color:">
            </div>
        </div>
        <script>
            require(["jquery"],function($){

                webUtil.picFunc2("com_171","picture","0","","","96","96","");
            });
        </script>
        <style id="com_171_style">#com_171{width: 96px; height: 96px; position: absolute; left: 918px; top: 85px; z-index: 10;}#picture_com_171{width: 96px; height: 96px;}</style>
    </div>
    <div class="modulebox box_picture textFloat" id="com_172" style="display: none;">
        <div class="view" id="picture_com_172" style="width: 96px; height: 96px;" data-bwidth="96" data-bheight="96">
            <div class="box_wow" style="width:96px;height:96px;">
                <img data-src="{$configs['qr_weixin']}" class="lazy" style="border-style:; border-width:; border-color:">
            </div>
        </div>
        <script>
            require(["jquery"],function($){

                webUtil.picFunc2("com_172","picture","0","","","96","96","");
            });
        </script>
        <style id="com_172_style">#com_172{width: 96px; height: 96px; position: absolute; left: 1055px; top: 83px; z-index: 10;}#picture_com_172{width: 96px; height: 96px;}</style>
    </div>
    <div class="modulebox box_simpleText textFloat" id="com_174" style="display: none;">
        <div class="view" id="simpleText_com_174" style="width: 64px; height: 25px; min-height: 0px;" data-bwidth="64" data-bheight="25">
            <div class="">
                <div>
                    <span style="font-size: 12px; color: rgb(255, 255, 255); font-family: 微软雅黑;">新浪微博</span>
                </div>
            </div>
        </div>
        <style id="com_174_style">#com_174.modulebox{width: 64px; height: 25px; position: absolute; left: 941px; top: 188px; z-index: 11;}#simpleText_com_174{width: 64px; height: 25px; min-height: 0px;}</style>
    </div>
    <div class="modulebox box_simpleText textFloat" id="com_173" style="display: none;">
        <div class="view" id="simpleText_com_173" style="width: 72px; height: 20px; min-height: 0px;" data-bwidth="72" data-bheight="20">
            <div class="">
                <div>
                    <span style="color: rgb(255, 255, 255); font-family: 微软雅黑; font-size: 12px;">微信公众号</span>
                </div>
            </div>
        </div>
        <style id="com_173_style">#com_173.modulebox{width: 72px; height: 20px; position: absolute; left: 1070px; top: 190px; z-index: 11;}#simpleText_com_173{width: 72px; height: 20px; min-height: 0px;}</style>
    </div>
</div>

<div id="Web_back_top" class="" style="display: block;">
    <div class="modulebox box_backToTop" id="com_5">
        <div class="view" id="backToTop_com_5" data-bwidth="1200" data-bheight="100">
            <div id="BackToTop_box" class="df_cls btp_1" title="回到顶部" style="background-color:rgba(228,57,60,1);"></div>
        </div>
        <script>
            require(["jquery"],function($){
                dataUtil.BackToTop("com_5");
            });
        </script>
        <style id="com_5_style">#com_5.modulebox{z-index: 1;}</style>
    </div>
</div>
<div id="web_Sidebar">
    <div class="modulebox box_sidebar" id="com_6">
    </div>
</div>
<div class="des_mask"></div>

<div id="Web_Main_Footer">
    <div id="Web_show_Footer" class="">
        <div class="modulebox box_footer" id="com_4">
            <style>#com_4{z-index: 1;}
            #bottom_com_4{}
            </style>
            <div class="view" id="bottom_com_4">
                <div class="skin_model_view footer_height">
                    <div class="menuStyle clearfix">
                        <div class="box_web_main">
                            <div class="sectionheight copyNavStyle1">
                                <div class="copyNav_li"><a href="javascript:void(0)" >关于我们</a>
                                    <ul>
                                        {pc:content action="category" catid="48" num="25" siteid="$siteid" order="listorder ASC"}
                                        {loop $data $r}
                                        <li><a href="{$r[url]}" >{$r[catname]}</a></li>
                                        {/loop}
                                        {/pc}
                                    </ul>
                                </div>
                                <div class="copyNav_li"><a href="javascript:void(0)" >产品展示</a>
                                    <ul>
                                        {pc:content action="category" catid="61" num="25" siteid="$siteid" order="listorder ASC"}
                                        {loop $data $r}
                                        <li><a href="{$r[url]}" >{$r[catname]}</a></li>
                                        {/loop}
                                        {/pc}
                                        <li><a href="javascript:void(0)" >&nbsp;</a></li>
                                        <li><a href="javascript:void(0)" >&nbsp;</a></li>
                                    </ul>
                                </div>
                                <div class="copyNav_li"><a href="javascript:void(0)" >技术支持</a>
                                    <ul>
                                        {pc:content action="category" catid="58" num="25" siteid="$siteid" order="listorder ASC"}
                                        {loop $data $r}
                                        <li><a href="{$r[url]}" >{$r[catname]}</a></li>
                                        {/loop}
                                        {/pc}
                                    </ul>
                                </div>
                                <div class="copyNav_li"><a href="javascript:void(0)" >联系我们</a>
                                    <ul>
                                        {pc:content action="category" catid="72" num="25" siteid="$siteid" order="listorder ASC"}
                                        {loop $data $r}
                                        {if $r[catid]!=73}
                                        <li><a href="{$r[url]}" >{$r[catname]}</a></li>
                                        {/if}
                                        {/loop}
                                        {/pc}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyrightStyle clearfix">
                        <div class="box_web_main">
                            <div class="copyRight">	<p>{$configs['copyright']}</p>
                            </div>
                            <div class="copyAdmin">
                                <li class="copy_block copy_first" style="display: none;"><a href="http://m.hornwelltech.com/cn" target="_blank">手机版</a></li>
                                <li class="copy_block" style="display: none;"><a href="http://pingtai.iyong.com/login.html" target="_blank">管理登录</a></li>
                                <li class="copy_block copy_last" style="display: none;"><a href="https://www.iyong.com/page.html?id=310" target="_blank">爱用建站</a></li>
                                <b id="playerButton" class="playerButton playerButton_on copy_block"></b>
                            </div>
                            <div class="copyAdmin">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="web_footer_float" class="web_hide_float" style=""></div>
</div>