{php $configs=array()}
{pc:content action="lists" catid="47" num="25" order="id DESC" page="$page" moreinfo="1"}
{loop $data $r}
{php $configs=$r}
{/loop}
{/pc}
<div id="Web_show_logo" class="box_web_main">
	<div class="modulebox box_logo textFloat" id="com_2">
		<div class="view" id="logo_com_2" style="width: 115px; height: 73px;" data-bwidth="115" data-bheight="73">
			<img src="{$configs['logo']}" style="border-style:; border-width:; border-color:">
		</div>
		<script>
            require(["jquery"],function($){
                webUtil.picFunc2("com_2","logo","0", "","","115","73","");
            });
		</script>
		<style id="com_2_style">#com_2{z-index: 1; width: 115px; height: 73px; left: -1px; top: 54px; position: absolute;}#logo_com_2{width: 115px; height: 73px;}</style>
	</div>
</div>

<div id="Web_main_float" class="box_web_main group">
	<div class="modulebox box_simpleText textFloat" id="com_101">
		<div class="view" id="simpleText_com_101" style="width: 339px; height: 22px; min-height: 0px;" data-bwidth="339" data-bheight="22">
			<div class="">
				<div>
					<p><span style="font-size: 14px; font-family: 微软雅黑; color: rgb(89, 89, 89);">{$configs['welcome']}</span></p>
				</div>
			</div>
		</div>
		<style id="com_101_style">#com_101.modulebox{width: 339px; height: 22px; position: absolute; left: 0px; top: 12px; z-index: 11;}#simpleText_com_101{width: 339px; height: 22px; min-height: 0px;}</style>
	</div>
	<div class="modulebox box_simpleText textFloat" id="com_106">
		<div class="view" id="simpleText_com_106" style="width: 222px; height: 23px; min-height: 0px;" data-bwidth="222" data-bheight="23">
			<div class="">
				<div>
					<p><span style="font-family: 微软雅黑;">销售热线：<span style="font-family: 微软雅黑; color: rgb(0, 112, 192); font-size: 18px;"><strong>{$configs['hotline']}</strong></span></span></p>
				</div>
			</div>
		</div>
		<style id="com_106_style">#com_106.modulebox{width: 222px; height: 23px; position: absolute; left: 722px; top: 8px; z-index: 11;}#simpleText_com_106{width: 222px; height: 23px; min-height: 0px;}</style>
	</div>
	<div class="modulebox box_picture textFloat" id="com_107">
		<div class="view" id="picture_com_107" style="width: 38.5417px; height: 37px; min-height: 0px;" data-bwidth="39" data-bheight="37">
			<div class="box_wow" style="width:38.541668px;height:37px;">
				<img src="/statics/yibo/images/1524894213735033422.png" class="lazy" style="display: block;">
			</div>
		</div>
		<script>
            require(["jquery"],function($){

                webUtil.picFunc2("com_107","picture","0","","","38.541668","37","38.541668");
            });
		</script>
		<style id="com_107_style">#com_107{width: 38.5417px; height: 37px; position: absolute; left: 678px; top: 1px; z-index: 10;}#picture_com_107{width: 38.5417px; height: 37px; min-height: 0px;}</style>
	</div>
	<div class="modulebox box_language textFloat" id="com_105">
		<style>#com_105{position: absolute; left: 1087px; top: 8px; z-index: 9;
			width: 200px;}
		#language_com_105{z-index: 20;}
		</style>
		<div class="view" id="language_com_105">
			<div class="style_view"><style>#language_com_105 .localer span.text,.delimiter{font-size:16px;}
			#language_com_105 .localer span.text,.delimiter{font-weight:bold;}
			#language_com_105 .localer span.text,.delimiter{font-family:宋体;}
			#language_com_105 .localer span.text,.delimiter{color:#ff7300;}
			</style></div>
			<script>
                $(function () {
                    $('.J_localerPanel').hover(function(){
                            var J_localerPanel_h=$(this).children(".localerList").height();
                            $(this).css("height",J_localerPanel_h);
                        },
                        function(){
                            $(this).css("height","27px");
                        })
                });
			</script>
			<div id="localer" class="localer">
				<a href="sitemap.html">站点地图</a>&nbsp;
				<div class="J_localerPanel localerPanel_1">
					<ul class="localerList J_localerList">
						<li class="localerItem">
							<div class="localerItemContent languageCn"><a href="/"> <span class="icon language_Icon_cn">&nbsp;</span> <span class="text" title="中文">中文</span> </a> <span class="arrow">&nbsp;</span> </div>
						</li>
						<div class="delimiter">/</div>
						<li class="localerItem">
							<div class="localerItemContent languageCn"><a href="{siteurl(2)}/html/en" class="langClass"><input value="3" type="hidden"> <span class="icon language_Icon_en">&nbsp;</span> <span class="text" title="English">English</span> </a> <span class="arrow">&nbsp;</span> </div>
						</li>
						<div class="delimiter">/</div>
						<li class="localerItem">
							<div class="localerItemContent languageCn"><a href="/html/th" class="langClass"><input value="3" type="hidden"> <span class="icon language_Icon_en">&nbsp;</span> <span class="text" title="Thai">ไทย</span> </a> <span class="arrow">&nbsp;</span> </div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="modulebox box_productSearch_v1 textFloat" id="com_104">
		<div class="view kenfor_productSearch " id="productSearch_com_104" style="width: 184px; height: 32px; min-height: 0px;" data-bwidth="184" data-bheight="32">
			<!--标题栏部分-->
			<div class="style_view" id="style_view_com_104">
				<style> </style>
			</div>
			<!--主体内容-->
			<div class="moduleContent skin_model_view">
				<form class="search" action="search.html" method="post" name="searchForm" id="searchForm_com_104" accept-charset="UTF-8" style="display: none;">
					<div class="searchBox">
						<input type="hidden" name="wjs">
						<div class="searchInput searchInput1" style="line-height:30px;height:30px;border-color:rgb(102, 102, 102);">
							<input class="leftInput leftInput1" value="请输入关键字" onfocus="javascript:if(this.value=='请输入关键字')this.value=''" onblur="javascript:if (value=='')value='请输入关键字';" style="width:calc(100% - 50px);">
							<div class="leftIcon" style="border-right-color:rgb(102, 102, 102);right:50px;display:none"></div>
							<div id="search_com_104" class="textColor searchIcon iyong-icons-search4 searchIcon2" style="color:rgb(102, 102, 102);width:50px;line-height:calc(30px - 1px - 1px)"></div>
						</div>
					</div>
				</form>
				<a target="_blank" href="https://www.linkedin.com/"><img src="/statics/yibo/share/linkedin.png" style="height: 30px;cursor: pointer;"></a>
				<a target="_blank" href="https://www.facebook.com/"><img src="/statics/yibo/share/facebook.png" style="height: 30px;cursor: pointer;"></a>
				<a target="_blank" href="https://twitter.com/"><img src="/statics/yibo/share/twitter.png" style="height: 30px;cursor: pointer;"></a>
				<a target="_blank" href="https://www.youtube.com/"><img src="/statics/yibo/share/youtube.png" style="height: 30px;cursor: pointer;"></a>
				<a target="_blank" href="https://plus.google.com/"><img src="/statics/yibo/share/googleplus.png" style="height: 30px;cursor: pointer;"></a>
				<a target="_blank" href="https://www.pinterest.com/"><img src="/statics/yibo/share/pinterest.png" style="height: 30px;cursor: pointer;"></a>
				<!--装载关键字-->
				<div id="keywords_com_104">
					<ul class="keywordJquery">
					</ul>
				</div>
			</div>
		</div>
		<script>
            var mdId = "com_104",
                searchTip = "请输入关键字";
            webUtil.searchSubmit(mdId,searchTip);
		</script>
		<style id="com_104_style">#com_104.modulebox{width: 184px; position: absolute; left: 1019px; top: 84px; height: 32px; z-index: 1;}#productSearch_com_104{width: 184px; height: 32px; min-height: 0px;}</style>
	</div>
</div>

<div id="Web_show_menu" class="box_web_main">
	<div class="modulebox box_menu textFloat" id="com_1">
		<style>#com_1{z-index: 1; left: 225px; top: 77px; position: absolute; width: 788px; height: 43px;}
		#menu_com_1{width: 788px; height: 43px; min-height: 0px; z-index: 99;}
		</style>
		<div class="view" id="menu_com_1">
			<div class="style_view"><div class="style_view" id="style_view_com_1">
				<style>#menu_com_1 .Nav_bg { background-color:#fff;}
				#menu_com_1 .Nav_bg {background-image:none;}
				#menu_com_1 .Nav_bg {background-repeat:repeat;background-position:center;}
				#menu_com_1 .mainNavcontain_count,#menu_com_1 .menu_col > a {height:43px;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col > a{font-size:16px;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col > a{color:#1f1f1f;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col > a.chose_hover{color:#ffffff;}
				#menu_com_1 .menu_col,.menu_col {min-width:110px;}
				#menu_com_1 .menu_col .chose_hover,.box_menu #menu_com_1 .menu_col a:hover {color:#ffffff;}
				#menu_com_1 .menu_col .chose_hover,.box_menu #menu_com_1 .menu_col a:hover { background-color:#00449c;}
				#menu_com_1 .menu_col .chose_hover,.box_menu #menu_com_1 .menu_col a:hover {background-image:none;}
				#menu_com_1 .menu_col .chose_hover,.box_menu #menu_com_1 .menu_col a:hover {background-repeat:repeat;background-position:center;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a{font-size:13px;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a{color:#292929;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a:hover{color:#ffffff;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a { background-color:#fff;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a {background-image:none;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a {background-repeat:repeat;background-position:center;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a:hover {color:#ffffff;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a:hover { background-color:#ffb92e;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a:hover {background-image:none;}
				#menu_com_1 .Nav_bg .mainNavcontain .menu_col .menu_col_er li a:hover {background-repeat:repeat;background-position:center;}
				</style>
			</div></div>
			<div class="skin_model_view">
				<div class="skin_menu_change menustyle_tab-1">
					<div class="menu_01_013">
						<div class="Nav_bg">
							<div class="mainNavcontain box_web_main" >
								<div class="mainNavcontain_count">
									<div class="menu_col menu_css3"><a  href="{siteurl($siteid)}" class="" ><span>首页</span></a>
									</div>
									{pc:content action="category" catid="0" num="25" siteid="$siteid" order="listorder ASC"}
									{loop $data $r}
									<div class="menu_col_line"></div>
									<div class="menu_col menu_css3"><a  href="{$r[url]}" class="" ><span>{$r[catname]}</span></a>
										<ul class="menu_col_er" style=";">
											{pc:content action="category" catid="$r[catid]" num="25" siteid="$siteid" order="listorder ASC" return="data2"}
											{loop $data2 $r2}
											<li>
												<a href="{$r2[url]}" >{$r2[catname]}</a>
											</li>
											{/loop}
											{/pc}
										</ul>
									</div>
									{/loop}
									{/pc}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<style type="text/css">#com_1{left:225px}
			#Web_show_menu{max-width:1200px;margin:0 auto;}
			</style>
		</div>
	</div>
</div>