{template "content","header"}
{pc:get sql="SELECT * FROM lldz_category_ext WHERE catid = 9" cache="3600" page="$page" return="data_ext"}
{loop $data_ext $key $val}
{php $ext_data = json_decode($val['data'], true)}
{/loop}
{/pc}
<div id="inner-page">
    <div class="top-center" style="background-image: url({$CATEGORYS[$catid]['image']})">
        <h2 style="display: none;">{$CATEGORYS[$catid]['catname']}</h2>
        <p class="lead" style="display: none;">{$CATEGORYS[$catid]['description']}</p>
    </div>
    <div class="container">
        <div class="col-md-12">
            <ol class="breadcrumb" style="text-align: right;">
                <li><a target="_blank" href="{siteurl($siteid)}">首页</a></li>
                <li><a target="_blank" href="{$CATEGORYS[$catid]['url']}">{$CATEGORYS[$catid]['catname']}</a></li>
            </ol>
        </div>
        <div class="about-us">
            <div class="row">
                <div class="col-md-12 col-sm-6">
                    {$content}
                </div>
            </div>
        </div>
    </div>
</div>
<section id="testimonials" class="text-center">
    <div class="container">
        <div class="center">
            <h2>企业理念</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="top_banner">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {pc:content action="category" catid="34" num="25" siteid="$siteid" order="listorder ASC"}
                            {loop $data $r}
                            <div class="swiper-slide"><p class="about_swipter_p">{$r[catname]}{$r[description]}</p></div>
                            {/loop}
                            {/pc}
                        </div>
                    </div>
                    <div class="row">
                        <div class="swiper-pagination col-md-12 col-xs-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section id="get-started">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2>想加入我们这个大家庭吗？</h2>
                <a target="_blank" href="/index.php?m=content&c=index&a=lists&catid=15" class="btn btn-primary">联系我们</a> </div>
        </div>
    </div>
</section>
{template "content","footer"}
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>
