body{
  height: 700px;
  background-color: #F2F2F2;
  font-family: '微软雅黑';
}
a{
  color: #daa845;
}
a:hover{
  color: #da9c45;
}
.btn-primary{
    color: #fff;
    background-color: #daa845;
    border-color: #da9c45;
}
.btn-primary:hover {
    color: #fff;
    background-color: #D09E3A;
    border-color: #da9c45;
}
.navbar-default {
    background-color: rgba(248, 248, 248,0.9);
    border-color: #e7e7e7;
}


.footer{
  background-color: #25211E; 
  width: 100%; 
  display: block; 
  position: relative; 
  padding: 10px;
  bottom: -30%;
}
  .user_header{  
    /*background-color: #25211E; */
    height: 100px; 
    width: 100%; 
    display: block; 
    position: relative;
  } 
  .user_head_img{
    width: 150px; 
    height: 150px; 
    border: 1px solid #e2e2e2; 
    padding: 0;
  }
  .user_index_name{
    padding: 5px;
  }
  .user_index_gonggao{
    margin-top: 30px; 
    margin-bottom: 80px;
  }
  .user_index_gg_logo{
    padding:5px 10px 0px 0px; 
    color: #e2e2e2;
  }
/*.user_top{
  background-image: url(../images/banner-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 200px;
  background-attachment: fixed;
  background-position: top;
  margin-top: -20px;
  margin-bottom: 20px;
}*/
@media (min-width: 1200px){
  .user_top{
    background-image: url(../images/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 450px;
    background-attachment: fixed;
    background-position: top;
    margin-top: -20px;
    margin-bottom: 20px;
    }
  .user_footer{
    background-color: #25211E; 
    width: 100%; 
    display: block; 
    position: relative; 
    padding: 10px;
    bottom: -30%;
  }
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 40%;
    margin:0 auto;
    /*pointer-events:none;*/
  }
  .vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    /*pointer-events:none;*/
  }
 }
@media (min-width: 979px){
  .user_top{
    background-image: url(../images/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 450px;
    background-attachment: fixed;
    background-position: top;
    margin-top: -20px;
    margin-bottom: 20px;
    }
  .user_footer{
    background-color: #25211E; 
    width: 100%; 
    display: block; 
    position: relative; 
    padding: 10px;
    bottom: -30%;
  }
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 60%;
    margin:0 auto;
    /*pointer-events:none;*/
  }
  .vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    /*pointer-events:none;*/
  }
 }
@media (min-width: 767px){
  .user_top{
    background-image: url(../images/banner-2.jpg);
    background-repeat: no-repeat;
    /*background-size: 100%;*/
    padding-top: 450px;
    background-attachment: fixed;
    background-position: 50% 6.5rem;
    /*margin-top: -20px;*/
    margin-bottom: 20px;
    }
  .user_footer{
    background-color: #25211E; 
    width: 100%; 
    display: block; 
    position: relative; 
    padding: 10px;
    bottom: -60%;
  }
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 60%;
    margin:0 auto;
    /*pointer-events:none;*/
  }
  .vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    /*pointer-events:none;*/
  }
 }
@media (max-width: 479px){
  .user_top{
    background-image: url(../images/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: 140%;
    padding-top: 200px;
    background-attachment: fixed;
    background-position:50% 6rem;
    margin-top: 0px;
    margin-bottom: 20px;
    }
  .user_footer{
    background-color: #25211E; 
    width: 100%; 
    display: block; 
    position: relative; 
    padding: 10px;
    bottom: -10%;
  }
  .vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 90%;
    margin:0 auto;
    /*pointer-events:none;*/
  }
  .vertical-align-center {
    display: table-cell;
    vertical-align: middle;
    /*pointer-events:none;*/
  }
 }

.navbar-nav > li > a {
    padding-bottom: 30px;
    padding-top: 30px;
  }
   /* .navbar-nav{
      float: right;
    }
*/
  .navbar-toggle{
    margin-top: 27px;
  }
  #tel-2{
  	display: block;
  	width: 50%;
  }
  .user_left_meun{
    padding: 5px 15px;
    background-color: #FFF;
    border:solid 1px #EEE;
  }
  .user_left_meun a {
    text-decoration: none;
    list-style-type: none;
  }
  .user_left_meun:hover{
    border-left:3px solid #daa845;
    text-decoration: none;
    list-style-type: none;
  }
   .user_left_meun_top{
    background: -webkit-linear-gradient(left top,#F2F2F2,#FF9D13);
    background: -moz-linear-gradient(left top,#F2F2F2,#FF9D13);
  }
  .user_main_color{
    
  }
  .user_main_padding{
    padding: 15px;
    background-color: #fff;
  }
  .margin-top{
    margin-top: 15px;
  }
  .margin-bottom{
    margin-bottom: 15px;
  }
  .user_herder_border{
    border-left:3px solid #daa845;
    margin-bottom: 15px;
    padding-left: 10px;
  }
   .star-rating {
  font-family: 'FontAwesome';
  margin: 0px auto;
}
.star-rating > fieldset {
  border: none;
  display: inline-block;
}
.star-rating > fieldset:not(:checked) > input {
  position: absolute;
  top: -9999px;
  clip: rect(0, 0, 0, 0);
}
.star-rating > fieldset:not(:checked) > label {
  float: right;
  width: 1em;
  padding: 0 .05em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 200%;
  color: #507ce8;
}
.star-rating > fieldset:not(:checked) > label:before {
  content: '\f006  ';
}
.star-rating > fieldset:not(:checked) > label:hover,
.star-rating > fieldset:not(:checked) > label:hover ~ label {
  color: #1bd3d7;
  text-shadow: 0 0 3px #1abc9c;
}
.star-rating > fieldset:not(:checked) > label:hover:before,
.star-rating > fieldset:not(:checked) > label:hover ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > input:checked ~ label:before {
  content: '\f005  ';
}
.star-rating > fieldset > label:active {
  position: relative;
  top: 2px;
}
.user_center_change_touxiang{
  padding-left: 20px;
}
.user_center_change_touxiang .change_img{
   width: 150px; 
   height: 150px; 
   border: 1px solid #e2e2e2;
}
.user_tab_over-flow{
  overflow: auto;
}


/*登陆页面*/
.landing_form h3{
  padding:  15px 15px 15px 0px;
}
.landing_header{
  padding:15px 0;
}
.landing{
  background-image: url(../images/top_main_bg03.jpg);
  background-size: cover;
  /*padding:100px;*/
}
.landing_form{
  padding: 30px;
  background-color: rgba(255,255,255,.9);;
}
.form_padding_top{
  padding-top: 15px;
}
.form_label_color{
  color: #999;
}
.landing_footer{
  padding: 30px;
  background-color: rgb(250,250,250);
}
@media screen and (min-width: 1279px){
.landing{
  background-image: url(../images/top_main_bg03.jpg);
  background-size: cover;
  padding:100px;
  }
}
@media screen and (min-width: 979px){
.landing{
  background-image: url(../images/top_main_bg03.jpg);
  background-size: cover;
  padding:50px 50px;
  /*padding:100px;*/
  }
}
@media screen and (min-width: 767px){
.landing{
  background-image: url(../images/top_main_bg03.jpg);
  background-size: cover;
  padding:50px 50px;
  }
}
@media screen and (min-width: 479px){
.landing{
  background-image: url(../images/top_main_bg03.jpg);
  background-size: cover;
  padding:100px 50px;
  /*padding:100px;*/
  }
}

.btn-primary {
  color: #fff;
  background-color: #daa845;
  border-color: #da9c45;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #da9c45;
  border-color: #da9c45;
}
.btn-primary:hover {
  color: #fff;
  background-color: #da9c45;
  border-color: #da9c45;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #e59628;
  border-color: #bc7819;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #e59628;
  border-color: #bc7819;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #daa845;
  border-color: #da9c45;
}