<!DOCTYPE html>
<html>
<head>
	<title>广州丽电电子科技有限责任公司</title>
	<meta charset="utf-8">
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/FontAwesome.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel = "stylesheet" href="css/user_main.css">
	<script src="js/jquery-3.2.1.min.js" ></script>
	<script src="js/bootstrap.js" ></script>
  <link rel = "Shortcut Icon" href=images/icon.ico>
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<style type="text/css">

</style>
</head>
<body>
  <div class="user_top">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2 margin-bottom">
        <div class="row">
          <div class="col-md-12">
            <div class="user_left_meun user_left_meun_top">
              <h5>个人中心</h5>
            </div>
          </div>
          <div class="col-md-12">
            <a href="user_center.html">
              <div class="user_left_meun">
              <h5>账户信息<span class="pull-right glyphicon glyphicon-menu-right"></span>
              </h5>
              </div>
            </a>
          </div>
          <div class="col-md-12">
            <a href="user_balance.html">
              <div class="user_left_meun">
              <h5>账户余额<span class="pull-right glyphicon glyphicon-menu-right"></span>
              </h5>
              </div>
            </a>
          </div>
          <div class="col-md-12">
            <a href="user_form.html">
              <div class="user_left_meun">
              <h5>我的订单<span class="pull-right glyphicon glyphicon-menu-right"></span></h5>
              </div>
            </a>
          </div>
          <div class="col-md-12">
            <a href="user_message.html">
              <div class="user_left_meun">
              <h5>查看留言<span class="pull-right glyphicon glyphicon-menu-right"></span></h5>
              </div>
            </a>
          </div>
          <div class="col-md-12">
            <a href="user_notice.html">
              <div class="user_left_meun">
              <h5>会员通知<span class="pull-right glyphicon glyphicon-menu-right"></span></h5>
              </div>
            </a>
          </div>
          <div class="col-md-12">
            <a href="user_integral.html">
              <div class="user_left_meun">
              <h5>我的积分<span class="pull-right glyphicon glyphicon-menu-right"></span></h5>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-10 user_main_padding">
        <div class="row">
          <div class="col-md-12">
          <div class="">
            <h3 class="user_herder_border">我的订单</h3>
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#form_1" data-toggle="tab">全部订单</a></li>
              <li><a href="#form_2" data-toggle="tab">已付订单</a></li>
              <li><a href="#form_3" data-toggle="tab">未付订单</a></li>
              <li><a href="#form_4" data-toggle="tab">已发货</a></li>
              <!-- <li><a href="#form_5" data-toggle="tab">未发货</a></li> -->
              <!-- <li><a href="#form_6" data-toggle="tab">交易完成</a></li> -->
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="form_1">
                <table class="table text-center">
                  <tbody>
                    <thead>
                      <tr>
                        <td>序号</td>
                        <td>项目名称</td>
                        <td>支付方式</td>
                        <td>总价</td>
                        <td>状态</td>
                        <td>操作</td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>军工幽光G-900</td>
                        <td>微信支付</td>
                        <td>4580</td>
                        <td>完成</td>
                        <td><a href="" data-toggle="modal" data-target="#myModal-4">评价</a></td>
                      </tr>
                    </tbody>
                  </tbody>
                </table>
                 <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li>
                      <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="user_footer" style="" >
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 img-responsive text-center">
              <img src="images/logo-2.png" width="20%">
          </div>
        </div>
      </div>
  </div>
</body>
</html>