{template "content","top"}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!--10378-->
      <div id="d3239eb9" class=" slickCarousel">
        {loop string2array($CATEGORYS[$catid][catpics]) $vimages}
        <div class="sliderBox">
          <div class="background-image-holder">
            <img alt="{$vimages['alt']}" src="{$vimages['url']}" width="1260" height="335" />
          </div>
        </div>
        {/loop}
      </div>
    </div>
  </div>
</div>
<!--TYPO3SEARCH_begin-->
<div class="container bc-content">
  <div class="row">
    <div class="col-xs-12">
      <div class="breadCrumbMenu">
        <a href="{siteurl($siteid)}">{$SEO['site_title']}</a><span class="breadCrumbTrenner">&nbsp;</span>
        {catpos($catid, '<span class="breadCrumbTrenner">&nbsp;</span>')}
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row equalize">
    <div class="col-sm-8">
      <div class="well well-lg same-height-left" style="height: 224px;">
        {$description}
      </div>
    </div>

    <div class="col-sm-4">
      {template "content","product_config"}
    </div>
  </div>
</div>
<div class="container contentContainer" role="main">
  {pc:content action="lists" catid="$catid" num="100" order="id ASC" page="$page" moreinfo="1"}
  <div class="row">
    {loop $data $r}
    <div class="col-md-6">
      <div class="well" >
        <div class="csc-header csc-header-n1">
          <h3 class="csc-firstHeader">
            <a href="http://products.eao.com/index.php?IdTreeGroup=1076&amp;lang=en" target="_blank">系列 {$r[title]}</a>
          </h3>
        </div>
        {$r[content]}
      </div>
    </div>
    {/loop}
  </div>
  {/pc}
</div>
{template "content","footer"}