<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>pdf.html</title>
</head>

<body style="margin: 0px;padding: 0px;">
    <div>
        <div style="background-color: #939598;height: 5cm;">
            <div style="color: #ffffff;padding-left: 1.5cm;padding-top: 1.6cm;">
                <div style="font-size: 48px;">{pdf_title}</div>
                <div style="font-weight: bold;font-size: 48px;">{pdf_desc}</div>
            </div>
        </div>

        <div style="background-color: #000000;height: 1cm;color: #ffffff;text-align: right;padding-right: 1.5cm;line-height: 1cm;font-size: 24px;">
            {title}
        </div>

        <div style="margin-top: 1cm;">
            <div style="width: 49%;float: left;border-right: 1px solid #000000;text-align: center;height: 28.7cm;">
                <div style="font-weight: bold;">{title}</div>
                <div style="margin-top: 20px;">
                    <img src="{thumb}" />
                </div>
                <div style="font-style: italic;font-size: 11px;">
                    {description}
                </div>
            </div>
            <div style="float: left;display: inline-block;">
                <ul style="margin: 0px;padding: 0px 0px 0px 20px;list-style-type: none;line-height: 50px;">
                    {props}
                </ul>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div style="overflow: hidden;page-break-after: always;"></div>
    <div>new page</div>
</body>
</html>