{template "product","header_en"}
<div class="row">
    <div class="column grid_2 column_margin">
        <div class="box">
            <span class="boxheader"><h3>{$setting['title']}</h3></span>
            <div class="boxcontent">
                <div id="basketContentDynamic">
                    <p>{$setting['description']}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="content grid_6">
            <div class="">
                <div class="column grid_2 banner_box">
                    <a href="/index.php?m=product&c=index&a=step&type=1" class="banner">
                        <img src="{$market_setting['thumb']}" alt="Markets" class="banner_logo">
                        <h1>{$market_setting['title']}</h1>
                        <h2>{$market_setting['description']}</h2>
                        <img src="/statics/layout/eao/img/arrow.png" class="arrow_root">
                    </a>
                </div>


                <div class="column grid_2 banner_box">
                    <a href="/index.php?m=product&c=index&a=functions" class="banner">
                        <img src="{$function_setting['thumb']}" alt="Functions" class="banner_logo">
                        <h1>{$function_setting['title']}</h1>
                        <h2>{$function_setting['description']}</h2>
                        <img src="/statics/layout/eao/img/arrow.png" class="arrow_root">
                    </a>
                </div>


                <div class="column grid_2 banner_box" id="last_banner_box">
                    <a href="/index.php?m=product&c=index&a=step&type=2" class="banner">
                        <img src="{$series_setting['thumb']}" alt="Series" class="banner_logo">
                        <h1>{$series_setting['title']}</h1>
                        <h2>{$series_setting['description']}</h2>
                        <img src="/statics/layout/eao/img/arrow.png" class="arrow_root">
                    </a>
                </div>

            </div>&nbsp;<div class="">

        </div>


        </div>
    </div>
{template "product","footer"}