{template "product","header_en"}
<?php $is_g = $is_military_standard ? 1 : 0; ?>
<link rel="stylesheet" type="text/css" href="/usb/modal.css" />
<script type="text/javascript">
    var ARR_PDF_IDS = [];
</script>
<div class="row">
    <div class="column grid_2 column_margin">
        <div class="box">
            <span class="boxheader"><h3>{$setting['title_en']}</h3></span>
            <div class="boxcontent">
                <div id="basketContentDynamic">
                    <p>{$setting['description_en']}</p>
                </div>
                <ul style="text-align:center;padding:5px;list-style-type:none;display: {$is_display_contact};" id="show-contact-engineer">
                    <li style="display:inline-block;margin-right: 10px;">
                        <a href="javascript:void(0);" class="del-wrap-aa" style="color:#FF0000;"><span class="del-t-aa">Contact</span></a>
                    </li>
                    <li style="display:none;">
                        <a href="javascript:void(0);" style="color:#FF0000;" onclick="download_pdfs()">Export to PDF</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="content grid_6">
            <h1 class="c_3x2_h1">{$function_info['title']}</h1>
            <div class="column grid_6 bg">

                <div class="row">
                    <form action="/index.php?m=product&c=search&a=init&lang=en" method="get" id="myformmm">
                        <input type="hidden" name="m" value="product">
                        <input type="hidden" name="c" value="search">
                        <input type="hidden" name="a" value="init">
                        <input type="hidden" name="lang" value="en">
                        <fieldset class="filter column grid_filter">
                            <label>Series(<?php echo count($search['serial_id']); ?>)</label>
                            <select onchange="setSeFilter();" name="serial_id" class="prodFinder" style="display: inline-block;">
                                <?php if ($series_id == $empty || $series_id == 0) { ?>
                                <option value="{$empty}">Select series</option>
                                <?php } else { ?>
                                <option value="{$empty}">back</option>
                                <?php } ?>
                                <?php foreach ($serials as $sitem) { ?>
                                <?php
                                    if (!in_array($sitem['id'], $search['serial_id'])) {
                                        continue;
                                    }
                                ?>
                                <?php $selected = ($serial_id == $sitem['id']) ? ' selected="selected"' : ''; ?>
                                <option<?php echo $selected; ?> value="<?php echo $sitem['id']; ?>"><?php echo $sitem['title']; ?></option>
                                <?php } ?>
                            </select>
                        </fieldset>
                        <fieldset class="filter column grid_filter">
                            <label>Functions(<?php echo count($search['function_id']); ?>)</label>
                            <select onchange="setSeFilter();" name="function_id" class="prodFinder" style="display: inline-block;">
                                <?php if ($function_id == $empty) { ?>
                                <option value="{$empty}"></option>
                                <?php } else { ?>
                                <option value="{$empty}">back</option>
                                <?php } ?>
                                <?php foreach ($functions as $function) { ?>
                                <?php
                                    if (!in_array($function['code'], $search['function_id'])) {
                                        continue;
                                    }
                                ?>
                                <?php $selected = ($function_id == $function['code']) ? ' selected="selected"' : ''; ?>
                                <option<?php echo $selected; ?> value="<?php echo $function['code']; ?>"><?php echo $function['title']; ?></option>
                                <?php } ?>
                            </select>
                        </fieldset>
                        <div style="clear: both;"></div>
                        <?php if ($series_id > 0) { ?>
                        <?php foreach ($restrictProps as $kk => $prop) { ?>
                        <fieldset class="filter column grid_filter">
                            <label><?php echo $prop['title'], '(' . count($search[$kk]) . ')'; ?></label>
                            <select onchange="setSeFilter();" name="<?php echo $kk; ?>" class="prodFinder" style="display: inline-block;">
                                <?php if ($filter[$kk] == $empty || $filter[$kk] == '') { ?>
                                <option value="{$empty}"></option>
                                <?php } else { ?>
                                <option value="{$empty}">back</option>
                                <?php } ?>
                                <?php
                                foreach ($prop['options'] as $key => $option) {
                                if (!in_array($key, $search[$kk])) {
                                    continue;
                                }
                                $selected = ($filter[$kk] != '' && $filter[$kk] != $empty && $filter[$kk] == $key) ? ' selected="selected"' : '';
                                ?>
                                <option value="<?php echo $key; ?>"<?php echo $selected; ?>>
                                    <?php echo $key,'  ',$option; ?>
                                </option>
                                <?php } ?>
                            </select>
                        </fieldset>
                        <?php } ?>
                        <?php } ?>
                    </div>
                    <div class="row" id="current-selected-code">
                        {$code}
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" name="product_code" id="product_code" placeholder="Product code" style="margin-top: 5px;border: 1px solid #767676;height: 20px;" value="<?php echo $product_code; ?>" />
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="button" value="Search" id="btnSearchCode" onclick="setSeFilter()" />
                    </div>
                </form>
                <hr>
                <div class="row">
                    <div class="column">
                        <h6>Total {$total}</h6></div>
                    <div class="column float_right">
                        <ul class="mWebPagination">
                            <li>{$pages}</li>
                        </ul>
                    </div>
                </div>


                <table id="sortTable" class="list">
                    <tbody>
                    <?php $index = 1; foreach ($lists as $list) { ?>
                    <script type="text/javascript">
                        ARR_PDF_IDS.push('<?php echo $list["id"]; ?>');
                    </script>
                    <tr>
                        <td>
                            <div class="product_list_row">
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="product_counter">
                                            <span><?php echo $index; ?></span>
                                        </td>
                                        <td>
                                            <a href="/index.php?m=product&c=index&a=show&functions_id=<?php echo $list['functions_id']; ?>&id=<?php echo $list['id'],'&g=',$is_g; ?>">
                                                <img src="<?php echo $list['thumb']; ?>"
                                                     height="36"
                                                     alt="<?php echo $list['title']; ?>"
                                                     title="<?php echo $list['title']; ?>">
                                            </a>


                                        </td>
                                        <td class="clickable" rel="/index.php?m=product&c=index&a=show&functions_id=<?php echo $list['functions_id']; ?>&id=<?php echo $list['id']; ?>&g=<?php echo $is_g; ?>" target="self">
                                            <a href="/index.php?m=product&c=index&a=show&functions_id=<?php echo $list['functions_id']; ?>&id=<?php echo $list['id']; ?>&g=<?php echo $is_g; ?>">
                                                <em><?php echo $list['title']; ?></em>
                                            </a>
                                            <table class="attrList">
                                                <tbody>
                                                <tr>
                                                    <td class="attribute" width="120">Product Code：</td>
                                                    <?php $serialTitle = $serial['title'] ? $serial['title'] : $mapSerialIdTitle[$list['series_id']]; ?>
                                                    <td class="attribute_value"><?php echo $list['code']; ?></td>
                                                </tr>
                                                <?php foreach ($props[$serialTitle] as $key => $prop) {  ?>
                                                <tr>
                                                    <td class="attribute" width="120"><?php echo $prop['title']; ?>:</td>
                                                    <?php if ($key == 'military_standard') { ?>
                                                    <td class="attribute_value"><?php echo $is_g ? 'GJB' : '-'; ?></td>
                                                    <?php } else { ?>
                                                    <td class="attribute_value"><?php echo !empty($prop['options'][$list[$key]]) ? $prop['options'][$list[$key]] : '-'; ?></td>
                                                    <?php } ?>
                                                </tr>
                                                <?php } ?>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr>
                        </td>
                    </tr>
                    <?php $index++; } ?>

                    </tbody>
                </table>

                <div class="last">
                    <ul class="mWebPagination">
                        <li>{$pages}</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <section class="modal-aa">
        <div class="modal-info-aa center-self-xy-aa mYBounceInDown-aa">
            <div class="modal-t-aa">
                <p class="center-self-xy-aa">{$contact_info}</p>
            </div>
            <div class="modal-b-aa clearfix-aa">
                <button class="fl-aa cancel-aa">Close</button>
            </div>
        </div>
    </section>
    {template "product","footer"}
<script type="text/javascript">
function setSeFilter() {
    $('#myformmm').submit();
}

function download_pdfs() {
    var pdfs = ARR_PDF_IDS;
    var path = '';
    for (var i = 0;i < pdfs.length;i++) {
        path = 'pdf/' + pdfs[i] + '.pdf';
        window.open(path);
    }
}

window.onload = function () {
   var pages = $('.mWebPagination').find('a');
   for (var i = 0;i < pages.length;i++) {
       var href = $(pages[i]).attr('href');
       if (!href) {
           continue;
       }

       var rep = href.split('index.php');
       $(pages[i]).attr('href', '/index.php/' + rep[1]);
   }
}
</script>
