{template "product","header"}
<div class="row">
    <div class="column grid_2 column_margin">
        <div class="box">
            <span class="boxheader"><h3>华南电子网产品配置器</h3></span>
            <div class="boxcontent">
                <div id="basketContentDynamic">
                    <p>通过本页面XXXXXXX</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="content grid_6">
            <h1 class="c_3x2_h1">Märkte</h1>
            <div class="row">
                <div class="column grid_2 column_margin">
                    <a href="http://products.eao.com/index.php?IdTreeGroup=58" class="c_3x2">
                        <div class="img_chapter"><img src="http://products.eao.com/media/Kapitelbilder/market_transportation.jpg"  width="230"  height="60"  alt="Transportation" title="Transportation" />
                        </div>
                        <span><h5>Transportation</h5></span>
                    </a>
                </div>
                <div class="column grid_2 column_margin">
                    <a href="http://products.eao.com/index.php?IdTreeGroup=59" class="c_3x2">
                        <div class="img_chapter"><img src="http://products.eao.com/media/Kapitelbilder/market_machinery.jpg"  width="230"  height="60"  alt="Machinery" title="Machinery" />
                        </div>
                        <span><h5>Machinery</h5></span>
                    </a>
                </div>
                <div class="column grid_2 column_margin">
                    <a href="http://products.eao.com/index.php?IdTreeGroup=2883" class="c_3x2">
                        <div class="img_chapter"><img src="http://products.eao.com/media/Kapitelbilder/market_hd-sv.jpg"  width="230"  height="60"  alt="Heavy Duty & Special Vehicles" title="Heavy Duty & Special Vehicles" />
                        </div>
                        <span><h5>Heavy Duty & Special Vehicles</h5></span>
                    </a>
                </div>
            </div><br /><div class="row content">
        </div>

        </div>
    </div>
{template "product","footer"}