{template "content","top"}
<div id="content00fd9546479375c228bbe0154e8f1eab" data-id="00fd9546479375c228bbe0154e8f1eab" class="layout-content content" type="content" style="padding-top: 11.75%;" inplate="0">
    <div id="row54daed35330d6fda4d41cfaed5b87b9b" class="row" data-id="54daed35330d6fda4d41cfaed5b87b9b" type="row" style="" inplate="0">
      <div class="pure-g row-inner">
          <div id="cell852d3c1e85292474ec44dee7263ea16e" class="cell pure-u-1" data-id="852d3c1e85292474ec44dee7263ea16e" type="cell" inplate="0" style="background-position: 50% 50%; background-image: url('https://responsive-img.4000253533.com/Upload/9a881027-c3ef-4dd5-b63a-2bf9df9487ab/5e1c15e97728d.jpg'); padding-top: 35.6%; background-size: cover;"></div>
      </div>
    </div>
    <div id="row3e9112945f3235697103f9921bdcc31f" class="row" data-id="3e9112945f3235697103f9921bdcc31f" type="row" style="" inplate="0">
      <div class="pure-g row-inner">
          <div id="cell405f47b77b9141e5c2254cf064a6a516" class="cell pure-u-1-1 pure-u-md-1-2  widget-middle" data-id="405f47b77b9141e5c2254cf064a6a516" type="cell" inplate="0" style="padding-top: 0%;">
        <div id="blockf0fa577a4f65af3e1b1652ac7c2e86c6" data-id="f0fa577a4f65af3e1b1652ac7c2e86c6" type="image" class="block_layer anim anim-pause" inplate="0" lock="false">
    
     <div id="block_content_f0fa577a4f65af3e1b1652ac7c2e86c6" class="block_content content_image " style="text-align: left; padding-top: 11.43%; padding-right: 99px;  opacity: 0.79;">
      
     <a href="http://www.krausnaimer.com/sg_en/catalogs" target="_blank" data-linktype="out_url" data-link='{"out_url":"http://www.krausnaimer.com/sg_en/catalogs","target":"_blank"}'><img title="" id="block-image_f0fa577a4f65af3e1b1652ac7c2e86c6" style="" alt="" src="https://responsive-img.4000253533.com/Upload/9a881027-c3ef-4dd5-b63a-2bf9df9487ab/5e17f48e7dc92.jpg" type="zoom"></a>
    </div>
  </div></div><div id="cell3ea0ce6bf7ecc29f11d54e9af305fb20" class="cell pure-u-1-1 pure-u-md-1-2" data-id="3ea0ce6bf7ecc29f11d54e9af305fb20" type="cell" inplate="0" style="">
        <div id="blocke8924e4b4f0cd169b76ef5a3f141e885" data-id="e8924e4b4f0cd169b76ef5a3f141e885" type="image" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_e8924e4b4f0cd169b76ef5a3f141e885" class="block_content content_image " style="background-position: 0% 0%; padding: 0% 100px 1.85%; background-repeat: no-repeat; opacity: 1; background-size: auto;">
      
     <a href="https://www.schlegel.biz/web/cn/supportcenter/downloadbereich/katalog.php" target="_blank" data-linktype="out_url" data-link='{"out_url":"https://www.schlegel.biz/web/cn/supportcenter/downloadbereich/katalog.php","target":"_blank"}'><img title="" id="block-image_e8924e4b4f0cd169b76ef5a3f141e885" style="" alt="" src="https://responsive-img.4000253533.com/Upload/9a881027-c3ef-4dd5-b63a-2bf9df9487ab/5e180b215fdf6.jpg" type="zoom"></a>
    </div>
  </div>
  
</div>
<div class="inner" style="letter-spacing: normal !important;padding: 20px;">
  {pc:content action="lists" catid="$catid" num="101" order="id DESC" page="$page" moreinfo="1"}
  {loop $data $r}
  <dl style="clear: both;margin-bottom: 10px;">
      <dt class="thumb" style="float: left;">
          <a href="{$r['url']}">
          <img src="{$r['thumb']}" alt="{$r[title]}" style="height: 120px !important;" />
          </a>
      </dt>
      <dd class="info" style="float: left;height: 120px;">
          <h3>
              <span class="category">{$r[title]}</span>
          </h3>
          {php $pdfFile=json_decode($r[pdf_file], true)}
          <div class="download"><a target="_blank" href="{$pdfFile[0]['fileurl']}">下载</a></div>
          <div class="spec"></div>
      </dd>
  </dl>
  {/loop}
  {/pc}
</div>
</div>
  </div></div><div id="footer8ce3af66c51a3e53f173e51343bd220a" data-id="8ce3af66c51a3e53f173e51343bd220a" class="layout-content footer" type="footer" style="padding-top: 0%; padding-bottom: 0%; margin-top: 0%; margin-bottom: 0%; background-color: rgb(0, 0, 0);" inplate="1">
    <div id="row9c8fffefdccd99f002c48f4f103f067a" class="row pure-g   limit-row-width" data-id="9c8fffefdccd99f002c48f4f103f067a" type="row" style="" inplate="1">
      <div class="pure-g row-inner">
          <div id="cell2566b4c618afe954c7e42218fce8c252" class="cell pure-u-1" data-id="2566b4c618afe954c7e42218fce8c252" type="cell" inplate="1" style="padding-top: 1%;">
            <div id="block1d2d899fc866c5766194560ae3770b28" data-id="1d2d899fc866c5766194560ae3770b28" type="title" class="block_layer anim anim-pause" inplate="1" lock="false">
              <div id="block_content_1d2d899fc866c5766194560ae3770b28" class="block_content content_title " style="position: relative;">
              </div>
            </div>
          </div>
      </div>
  </div>
{template "content","footer"}