{template "content","top"}
<div id="content4b6ff85a2c1815940517992147125a2c" data-id="4b6ff85a2c1815940517992147125a2c" class="layout-content content" type="content" style="" inplate="0">
    <div id="rowf4c88911b6e8b912df915eb7f693dcfd" class="row pure-g  limit-row-width   context-menu-active" data-id="f4c88911b6e8b912df915eb7f693dcfd" type="row" style="padding-top: 2%; padding-left: 1%; padding-bottom: 4%;" inplate="0">
      <div class="pure-g row-inner">
          <div id="cell9929b8dfa865285372c164ff2cffb5db" class="cell pure-u-1 pure-u-md-1-4" data-id="9929b8dfa865285372c164ff2cffb5db" type="cell" inplate="0" style="padding-left: 1%; padding-right: 1%;">
        <div id="block094ddbe2556c2799e5bfe68d01e6a9ea" data-id="094ddbe2556c2799e5bfe68d01e6a9ea" type="title" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_094ddbe2556c2799e5bfe68d01e6a9ea" class="block_content content_title " style="padding-top: 2%; padding-bottom: 2%; background-color: rgb(2, 178, 181);">
      
    
     <p><span style="line-height:1.6;"><span style="color:#FFFFFF;"><span style="font-size:22px;">产品中心</span></span></span></p>
  
  <p><span style="line-height:1.6;"><span style="font-size:18px;"><span style="color:#FFFFFF;">PRODUCT</span></span></span></p>
    </div>
  </div>  <div id="block22c6705d3cef8f4be806f459655808f3" data-id="22c6705d3cef8f4be806f459655808f3" type="product_category" class="block_layer " inplate="0" lock="false">
    <div id="block_content_22c6705d3cef8f4be806f459655808f3" class="block_content content_product_category " style="">
      <div class="product_category nav mode-horizontal collapse-default color-none drop-up size-larger nav-style-4" data-param="{&quot;cate_link&quot;:&quot;12991&quot;,&quot;cate_id&quot;:[22483,22482,22481,22480],&quot;__hash__&quot;:&quot;5b3558a9cc5276f26f2af729d26c1a24_01cc146c1747e1b526c8d324e8f9123f&quot;}">
      <ul>
        {pc:content action="category" catid="96" num="25" siteid="$siteid" order="listorder ASC"}
        {loop $data $r}
        {php $navUrl = str_replace('v2/', '', $r['url']);}
        <li class="">
            <a href="{$navUrl}" data-name="{$r[catname]}">{$r[catname]}</a>
        </li>
        {/loop}
        {/pc}
        </ul>
        <script type="text/javascript">
        $(function () {
          var
            currentCtn = $('#block22c6705d3cef8f4be806f459655808f3'),
            navbar = currentCtn.find('.nav'),
            currentClass = 'current';
          if (!window.EDIT_MODE) {
            Base.plugin.load('productNavbar', function () {
              var
                className = $.trim(navbar.attr('class')),
                styleClassReg = /collapse-\w+/,
                collapseMode = className.match(styleClassReg) ? className.match(styleClassReg)[0] : 'collapse-default',
                cateParam = $.parseJSON('{"cate_link":"12991","cate_id":[22483,22482,22481,22480],"__hash__":"5b3558a9cc5276f26f2af729d26c1a24_01cc146c1747e1b526c8d324e8f9123f"}'),
                isScrollMode = ~className.indexOf('mode-scroll');
              // check site mode, 
              // and fix collapseMode
              if ($(window).width() <= Base.siteInfo.padWidth) {
                collapseMode = 'collapse-click';
              }
              // add default collapse for old format
              navbar.addClass(collapseMode);
              switch (collapseMode) {
                case 'collapse-default':
                  // hover(pc)
                  navbar.find('>ul>li')
                    .on('mouseenter.nav', function () {
                      var _this = $(this);
                      _this.siblings().removeClass(currentClass).end().addClass(currentClass);
                    })
                    .on('mouseleave.nav', function () {
                      $(this).removeClass(currentClass);
                    });
                  break;
                case 'collapse-expand':
                  break;
                case 'collapse-click':
                  navbar.find('li a')
                    .on('click.nav', function (e) {
                      var _this = $(this);
                      if (_this.next('ul').length && !isScrollMode) {
                        e.preventDefault();
                      }
                      _this.parent().siblings().removeClass(currentClass).end().toggleClass(currentClass);
                    });
                  break;
              }
              // set target
              if (cateParam.cate_target === '_blank') {
                navbar.find('a').attr('target', '_blank');
              }
            });
          } else {
            if (navbar.find('>ul>li').length > 1) {
              // for customer style => current item
              if (!navbar.find('.' + currentClass).length) {
                navbar.find('li').eq(0).children('a').addClass(currentClass);
              }
            }
          }
        });
      </script>
      </div>  </div>
  </div>  <div id="block45deddffe0a2ea653186f057d1734a30" data-id="45deddffe0a2ea653186f057d1734a30" type="image" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_45deddffe0a2ea653186f057d1734a30" class="block_content content_image " style="padding: 0% 40px 1%;">
      {php $catpics=json_decode($CATEGORYS[96]['catpics'], true)}
     <img title="" id="block-image_45deddffe0a2ea653186f057d1734a30" style="" alt="" src="{$catpics[0]['url']}" type="zoom">
    </div>
  </div>  <div id="block89ea52b1dd33de350a656efeba1ed5fb" data-id="89ea52b1dd33de350a656efeba1ed5fb" type="title" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_89ea52b1dd33de350a656efeba1ed5fb" class="block_content content_title " style="padding-top: 2%; padding-bottom: 2%; background-color: rgb(2, 178, 181);">
      
    
     <p><span style="line-height:1.6;"><span style="color:#FFFFFF;"><span style="font-size:22px;">联系我们</span></span></span></p>
  
  <p><span style="line-height:1.6;"><span style="font-size:18px;"><span style="color:#FFFFFF;">CONTACT US</span></span></span></p>
    </div>
  </div>  <div id="blockf0475e841901f54f67a081517c5284d8" data-id="f0475e841901f54f67a081517c5284d8" type="title" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_f0475e841901f54f67a081517c5284d8" class="block_content content_title " style="padding-top: 3%; position: relative;">
      
    
     <p style="margin: 0px; padding: 0px; word-wrap: break-word; font-size: 12px; font-family: " neue="" helvetica=""><span style="font-size:18px; margin:0px; padding:0px; word-wrap:break-word"><strong style="font-weight:700"><span style="color:rgb(99, 99, 99); margin:0px; padding:0px; word-wrap:break-word"><span style="line-height:1.8; margin:0px; padding:0px; word-wrap:break-word">华南电子技术有限公司</span></span></strong></span></p>
  
  <p style="margin: 0px; padding: 0px; word-wrap: break-word; font-size: 12px; font-family: " neue="" helvetica="">&nbsp;</p>
  
  <p style="margin: 0px; padding: 0px; word-wrap: break-word; font-size: 12px; text-align: left;" neue="" helvetica=""><span style="color:rgb(105, 105, 105); margin:0px; padding:0px; word-wrap:break-word"><span style="line-height:1.8; margin:0px; padding:0px; word-wrap:break-word"><span style="font-size:14px; margin:0px; padding:0px; word-wrap:break-word">地址：广州市黄埔区 科学城南翔一路&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;62号B栋3楼</span></span></span></p>
  
  <p style="margin: 0px; padding: 0px; word-wrap: break-word; font-size: 12px; text-align: left;" neue="" helvetica=""><span style="color:rgb(105, 105, 105); margin:0px; padding:0px; word-wrap:break-word"><span style="line-height:1.8; margin:0px; padding:0px; word-wrap:break-word"><span style="font-size:14px; margin:0px; padding:0px; word-wrap:break-word">电话：020-32290226</span></span></span></p>
  
  <p style="margin: 0px; padding: 0px; word-wrap: break-word; font-size: 12px; text-align: left;" neue="" helvetica=""><span style="color:rgb(105, 105, 105); margin:0px; padding:0px; word-wrap:break-word"><span style="line-height:1.8; margin:0px; padding:0px; word-wrap:break-word"><span style="font-size:14px; margin:0px; padding:0px; word-wrap:break-word">传真：020-32290392</span></span></span></p>
  
  <p style="margin: 0px; padding: 0px; word-wrap: break-word; font-size: 12px; text-align: left;" neue="" helvetica=""><span style="color:rgb(105, 105, 105); margin:0px; padding:0px; word-wrap:break-word"><span style="line-height:1.8; margin:0px; padding:0px; word-wrap:break-word"><span style="font-size:14px; margin:0px; padding:0px; word-wrap:break-word">邮箱：</span></span></span>info@southchina.com.cn</p>
    </div>
  </div></div><div id="cell30c06a4f7080b54c6a757357cf235945" class="cell pure-u-1 pure-u-md-3-4" data-id="30c06a4f7080b54c6a757357cf235945" type="cell" inplate="0" style="padding-right: 2%; padding-left: 2%;">
        <div id="blocke137422b3f42c4f7c9812e559a122b6f" data-id="e137422b3f42c4f7c9812e559a122b6f" type="product_list" class="block_layer " inplate="0" lock="false">
    <div id="block_content_e137422b3f42c4f7c9812e559a122b6f" class="block_content content_product_list " style="padding-right: 2%; padding-left: 2%;">
      <div class="product_list color-default noPrice noCategory page-color-default page-size-12 page-style-3 page-pos-center noMarket size-large showSpec product-list-1" data-param='{&quot;row_num&quot;:&quot;6&quot;,&quot;show_page&quot;:&quot;0&quot;,&quot;detail_link&quot;:&quot;13406&quot;,&quot;cate_link&quot;:&quot;12991&quot;,&quot;cate_id&quot;:[22483,22482,22481,22480],&quot;__hash__&quot;:&quot;8f89d3ff20a3d4f4ea27043b5e317e9a_8fb66c8ef11e36f600df73c7766092fc&quot;}'>
    <div class="inner">
        {pc:content action="lists" catid="$catid" num="100" order="id DESC" page="$page" moreinfo="1"}
        {loop $data $r}
        <dl>
            <dt class="thumb">
                <a href="{$r['url']}">
                <img src="{$r['thumb']}" alt="{$r[title]}" />
                </a>
            </dt>
            <dd class="info">
                <h3>
                    <a href="{$r['url']}" class="title" title="{$r[title]}">{$r[title]}<i class="iconfont ico-recommend">&#xe69f;</i>              </a>
                    <span class="category">分类: [<a href="22483.html">KRAUS & NAIMER</a>]</span>
                </h3>
                <div class="price">
                    <span class="normal"><strong>￥0.00</strong></span>
                    <span class="market"><del>￥0.00</del></span>
                </div>
                <div class="abstract"><p>KG10~KG316</p></div>
                <div class="spec"></div>
            </dd>
        </dl>
        {/loop}
        {/pc}
    </div>
  <script>
    $(function () {
      Base.plugin.load('productSlider', ['https://static.site.2003001.com/Public/js/plugins/bxSlider/jquery.bxslider.min.js'], function () {
        Base.register('product.loadSlider', function () {
          return function (blockSN) {
            var
              blockSN = blockSN.replace(/^block/g, ''),
              productList = $('#block' + blockSN + ' .product_list'),
              productListInner = productList.children('.inner');
            if (productList.hasClass('mode-slider')) {
              productListInner.bxSlider({
                slideSelector: 'dl',
                maxSlides: 4,
                slideWidth: 250,
                slideMargin: 20,
                shrinkItems: true,
                adaptiveHeight: true,
                auto: true,
                autoHover: true
              });
            }
          }
        });
        // init
        Base.product.loadSlider('e137422b3f42c4f7c9812e559a122b6f');
      });
      if (!window.EDIT_MODE) {
        Base.plugin.load('productList', function () {
          var
            blockSN = 'e137422b3f42c4f7c9812e559a122b6f'.replace(/^block/g, ''),
            currentCtn = $('#block' + blockSN),
            productList = currentCtn.find('.product_list'),
            listParam = $.parseJSON('{"row_num":"6","show_page":"0","detail_link":"13406","cate_link":"12991","cate_id":[22483,22482,22481,22480],"__hash__":"8f89d3ff20a3d4f4ea27043b5e317e9a_8fb66c8ef11e36f600df73c7766092fc"}');
          if (listParam.cate_target === '_blank') {
            productList.find('.category a').attr('target', '_blank');
          }
          if (listParam.detail_target === '_blank') {
            productList.find('.thumb a').attr('target', '_blank');
            productList.find('a.title').attr('target', '_blank');
          }
        });
      }
    });
  </script>  </div>
  </div></div>    </div>
  </div></div><div id="footer8ce3af66c51a3e53f173e51343bd220a" data-id="8ce3af66c51a3e53f173e51343bd220a" class="layout-content footer" type="footer" style="padding-top: 0%; padding-bottom: 0%; margin-top: 0%; margin-bottom: 0%; background-color: rgb(0, 0, 0);" inplate="1">
    <div id="row9c8fffefdccd99f002c48f4f103f067a" class="row pure-g   limit-row-width" data-id="9c8fffefdccd99f002c48f4f103f067a" type="row" style="" inplate="1">
      <div class="pure-g row-inner">
          <div id="cell2566b4c618afe954c7e42218fce8c252" class="cell pure-u-1" data-id="2566b4c618afe954c7e42218fce8c252" type="cell" inplate="1" style="padding-top: 1%;">
        <div id="block1d2d899fc866c5766194560ae3770b28" data-id="1d2d899fc866c5766194560ae3770b28" type="title" class="block_layer anim anim-pause" inplate="1" lock="false">
    <div id="block_content_1d2d899fc866c5766194560ae3770b28" class="block_content content_title " style="position: relative;">
      
    
            
    </div>
  </div></div>    </div>
  </div>
{template "content","footer"}