{template "content","top"}
<div id="content4b6ff85a2c1815940517992147125a2c" data-id="4b6ff85a2c1815940517992147125a2c" class="layout-content content" type="content" style="margin-top: 0%; margin-bottom: 0%;" inplate="0">
    <div id="rowf4c88911b6e8b912df915eb7f693dcfd" class="row pure-g   limit-row-width" data-id="f4c88911b6e8b912df915eb7f693dcfd" type="row" style="padding-top: 1%; padding-left: 1%; padding-bottom: 1%;" inplate="0">
      <div class="pure-g row-inner">
          <div id="cell9929b8dfa865285372c164ff2cffb5db" class="cell pure-u-1 pure-u-md-1-4" data-id="9929b8dfa865285372c164ff2cffb5db" type="cell" inplate="0" style="">
        <div id="block094ddbe2556c2799e5bfe68d01e6a9ea" data-id="094ddbe2556c2799e5bfe68d01e6a9ea" type="title" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_094ddbe2556c2799e5bfe68d01e6a9ea" class="block_content content_title " style="padding-top: 2%; padding-bottom: 2%; background-color: rgb(2, 178, 181); position: relative;">
      
    
     <p><span style="line-height:1.6"><span style="color:#FFFFFF"><span style="font-size:22px">关于我们</span></span></span></p>
  
  <p><span style="line-height:1.6"><span style="font-size:18px"><span style="color:#FFFFFF">ABOUT US</span></span></span></p>
    </div>
  </div>  <div id="block428f201f4eea5b8f633eabc25794741c" data-id="428f201f4eea5b8f633eabc25794741c" type="navbar" class="block_layer use-burger" inplate="0" lock="false">
    <div id="block_content_428f201f4eea5b8f633eabc25794741c" class="block_content content_navbar " style="">
      <!--导航条-->
  <div class="nav size-small drop-down open-burger nav-style-6 color-none mode-horizontal" data-param="{&quot;nav_id&quot;:&quot;12916&quot;,&quot;show_next&quot;:&quot;1&quot;,&quot;__hash__&quot;:&quot;99093bd3bb5458c0ffd353078820516e_84de0dbec26c9c007ddb617d5d6716bb&quot;}">
    <button class="toggle" type="button">
      <span></span>
      <span></span>
      <span></span>
    </button>
      <ul>
          {pc:content action="category" catid="92" num="25" siteid="$siteid" order="listorder ASC"}
          {loop $data $r}
          {php $navUrl = str_replace('v2/', '', $r['url']);}
          <li class="custom per-3">
              <a href="{$navUrl}" target="" class="" data-name="{$r[catname]}">
                <span>{$r[catname]}</span>
                <span class="summary"></span>
              </a>
            </li>
            {/loop}
            {/pc}
        </ul>  <script type="text/javascript">
      $(function () {
        Base.plugin.load('navbar', function () {
          var currentCtn = $('#block428f201f4eea5b8f633eabc25794741c'),
            navbar = currentCtn.find('.nav'),
            uls = navbar.children('ul'),
            currentClass = 'current',
            ul = navbar.children('ul'),
            dropMenu = uls.children('.dropmenu'),
            dropMenuLists = dropMenu.find('ul li'),
            TRANSPARENT = 'rgba(0, 0, 0, 0)',
            origCtnBg = currentCtn.css('backgroundColor'),
            win = $(window),
            beautyBackgroundColor = '',
            fontColor = ul.children('li').children('a').children('span').css('color'),
            colorReverse = function (rgb) {
              return [255 - rgb[1], 255 - rgb[2], 255 - rgb[3]];
            },
            isInHeader = function () {
              return currentCtn.parents('[type=header]').length
            },
            beauty = function () {
              // beauty navbar in mobile
              if (Base.siteInfo.isMobile) {
                if (navbar.hasClass('no-burger')) {
                  // clean canvas padding.
                  Base.siteInfo.canvasArea.addClass('no-burger-nav');
                } else {
                  // use main nav item link fst
                  beautyBackgroundColor = ul.children('li').children('a').css('background-color');
                  if (beautyBackgroundColor === TRANSPARENT) {
                    // use main nav item  sec
                    beautyBackgroundColor = ul.children('li').css('background-color');
                    if (beautyBackgroundColor === TRANSPARENT) {
                      // use main nav item 3rd
                      beautyBackgroundColor = ul.css('background-color');
                      if (beautyBackgroundColor === TRANSPARENT) {
                        // use layer background
                        beautyBackgroundColor = currentCtn.find('.block_content').css('background-color');
                        if (beautyBackgroundColor === TRANSPARENT) {
                          // default #fff
                          // beautyBackgroundColor = '#fff';
                          var rgb = fontColor.match(/(\d+),.*?(\d+),.*?(\d+)/);
                          if (rgb.length) {
                            beautyBackgroundColor = 'rgb(' + colorReverse(rgb).join(',') + ')';
                          }
                        }
                      }
                    }
                  }
                  if (window.EDIT_MODE) {
                    Base.css.setStyleSheet('#block428f201f4eea5b8f633eabc25794741c', '.block_content', {
                      'background-color': beautyBackgroundColor
                    });
                    Base.css.setStyleSheet('#block428f201f4eea5b8f633eabc25794741c', '.toggle span', {
                      'background-color': fontColor
                    })
                  } else {
                    // old sites
                    currentCtn.find('.block_content').css({
                      backgroundColor: beautyBackgroundColor
                    });
                    navbar.find('.toggle span').css({
                      backgroundColor: fontColor
                    });
                  }
                }
              }
            };
          navbar.find('.toggle').on('click', function (e) {
            e.preventDefault();
            if (currentCtn.hasClass)
              currentCtn.toggleClass('nav-burger-open');
          });
          navbar.on('click', 'li a', function (e) {
            var _this = $(this),
              subNav = _this.siblings('ul');
            if (subNav.length) {
              if (Base.siteInfo.isMobile) {
                e.preventDefault();
              }
              _this.parent().siblings().removeClass(currentClass).end().addClass(currentClass);
            }
          });
          // hook fix event
          if (isInHeader()) {
            if (!Base.siteInfo.isMobile && navbar.hasClass('navbar-fixed')) {
              var
                navbarRow = navbar.closest('.row'),
                navbarRowHeight = navbarRow.outerHeight(true),
                navbarRowOffsetTop = navbarRow.offset().top,
                $navbarRowPlaceholder = $('<div class="row-placeholder"/>').height(navbarRowHeight),
                fixed = false;
              // prevent bxslider above the nav, but not inited,
              // then, offset will be wrong.
              win.on('load.fixNavbarOffset', function () {
                navbarRowOffsetTop = navbarRow.offset().top;
              });
              win.on('scroll.428f201f4eea5b8f633eabc25794741c', function () {
                if (win.scrollTop() > navbarRowOffsetTop) { // maybe 0
                  if (fixed) return;
                  navbarRow.addClass('fixed-top');
                  navbarRow.after($navbarRowPlaceholder);
                  fixed = true;
                } else {
                  if (!fixed) return;
                  // restore
                  navbarRow.removeClass('fixed-top');
                  $navbarRowPlaceholder = $navbarRowPlaceholder.detach();
                  fixed = false;
                }
              });
            }
            win.on('resize.428f201f4eea5b8f633eabc25794741c', Base.core.throttle(function () {
              Base.siteInfo.isMobile = win.width() <= Base.siteInfo.mobileWidth ? true : false;
              beauty();
            }, 100)).trigger('resize.428f201f4eea5b8f633eabc25794741c');
          }
  
          // for customer style => current item
          if (window.EDIT_MODE && !navbar.find('.' + currentClass).length) {
            navbar.find('li').eq(0).children('a').addClass(currentClass);
          }
  
          // submenu current
          navbar.on('init', function () {
            var
              $currentNav = navbar.find('.' + currentClass),
              $subNavItem = $currentNav.parents('.dropmenu').last();
            if ($subNavItem.length) {
              $subNavItem.children('a').addClass(currentClass);
            }
          }).trigger('init');
        });
      });
    </script>
  </div>  </div>
  </div>  <div id="block45deddffe0a2ea653186f057d1734a30" data-id="45deddffe0a2ea653186f057d1734a30" type="image" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_45deddffe0a2ea653186f057d1734a30" class="block_content content_image " style="margin-top: 1%; margin-bottom: 1%; opacity: 1; border-top: 0px solid rgb(255, 255, 255); border-radius: 0px;">
      
     <img id="block-image_45deddffe0a2ea653186f057d1734a30" src="https://responsive-img.4000253533.com/Upload/9a881027-c3ef-4dd5-b63a-2bf9df9487ab/5e0d649c52f45.jpg" type="zoom" class="" style="" alt="" title="">
    </div>
  </div>  <div id="block89ea52b1dd33de350a656efeba1ed5fb" data-id="89ea52b1dd33de350a656efeba1ed5fb" type="title" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_89ea52b1dd33de350a656efeba1ed5fb" class="block_content content_title " style="padding-top: 2%; padding-bottom: 2%; background-color: rgb(2, 178, 181); position: relative;">
      
    
     <p><span style="line-height:1.6"><span style="color:#FFFFFF"><span style="font-size:22px">联系我们</span></span></span></p>
  
  <p><span style="line-height:1.6"><span style="font-size:18px"><span style="color:#FFFFFF">CONTACT US</span></span></span></p>
    </div>
  </div>  <div id="blockf0475e841901f54f67a081517c5284d8" data-id="f0475e841901f54f67a081517c5284d8" type="title" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_f0475e841901f54f67a081517c5284d8" class="block_content content_title " style="padding-top: 3%; position: relative;">
      
    
     <p><span style="font-size:18px"><strong><span style="color:#636363"><span style="line-height:1.8">华南电子技术有限公司</span></span></strong></span></p>
  
  <p>&nbsp;</p>
  
  <p style="text-align: justify;"><span style="color:#696969"><span style="line-height:1.8"><span style="font-size:14px">地址：广州市黄埔区 科学城南翔一路62号&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;B栋3楼</span></span></span></p>
  
  <p style="text-align: left;"><span style="color:#696969"><span style="line-height:1.8"><span style="font-size:14px">电话：020-32290226</span></span></span></p>
  
  <p style="text-align: left;"><span style="color:#696969"><span style="line-height:1.8"><span style="font-size:14px">传真：020-32290392</span></span></span></p>
  
  <p style="text-align: left;"><span style="color:#696969"><span style="line-height:1.8"><span style="font-size:14px">邮箱：</span></span></span>info@southchina.com.cn</p>
    </div>
  </div></div><div id="cell30c06a4f7080b54c6a757357cf235945" class="cell pure-u-1 pure-u-md-3-4" data-id="30c06a4f7080b54c6a757357cf235945" type="cell" inplate="0" style="padding-right: 2%; padding-left: 2%;">
        <div id="block072c0afb7d09de764a792a9268fc494e" data-id="072c0afb7d09de764a792a9268fc494e" type="title" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_072c0afb7d09de764a792a9268fc494e" class="block_content content_title " style="">
      
    
     <p class=""><span style="line-height:2;"><span style="color:#02B2B5;"><span style="font-size:22px;" class="">{$title_en}</span></span><br>
  <span style="color:#393939;"><span style="font-size:22px;" class="">{$title}</span></span></span></p>
  
  <p class="">&nbsp;</p>
    </div>
  </div>  <div id="block1b466ca14bee679e2809cd1b27aa0f1f" data-id="1b466ca14bee679e2809cd1b27aa0f1f" type="title" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_1b466ca14bee679e2809cd1b27aa0f1f" class="block_content content_title " style="padding-right: 1%; padding-left: 1%; position: relative;">
        {$content}
    </div>
  </div>  <div id="blockbf35c74801abb68cfb14e56d60feda7e" data-id="bf35c74801abb68cfb14e56d60feda7e" type="image" class="block_layer anim anim-pause" inplate="0" lock="false">
    <div id="block_content_bf35c74801abb68cfb14e56d60feda7e" class="block_content content_image " style="padding-right: 2%; padding-left: 2%; padding-top: 4%;">
      
     <img id="block-image_bf35c74801abb68cfb14e56d60feda7e" src="https://responsive-img.4000253533.com/Upload/9a881027-c3ef-4dd5-b63a-2bf9df9487ab/5e12dfeddab3d.jpg" type="zoom" class="" style="" alt="" title="">
    </div>
  </div></div>    </div>
  </div></div><div id="footer8ce3af66c51a3e53f173e51343bd220a" data-id="8ce3af66c51a3e53f173e51343bd220a" class="layout-content footer" type="footer" style="padding-top: 0%; padding-bottom: 0%; margin-top: 0%; margin-bottom: 0%; background-color: rgb(0, 0, 0);" inplate="1">
    <div id="row9c8fffefdccd99f002c48f4f103f067a" class="row pure-g   limit-row-width" data-id="9c8fffefdccd99f002c48f4f103f067a" type="row" style="" inplate="1">
      <div class="pure-g row-inner">
          <div id="cell2566b4c618afe954c7e42218fce8c252" class="cell pure-u-1" data-id="2566b4c618afe954c7e42218fce8c252" type="cell" inplate="1" style="padding-top: 1%;">
        <div id="block1d2d899fc866c5766194560ae3770b28" data-id="1d2d899fc866c5766194560ae3770b28" type="title" class="block_layer anim anim-pause" inplate="1" lock="false">
    <div id="block_content_1d2d899fc866c5766194560ae3770b28" class="block_content content_title " style="position: relative;">
      
    
            
    </div>
  </div></div>    </div>
  </div>
{template "content","footer"}